[2014-08-19 07:09] benjchristensen opened #1 "RxScala Bootstrap"
RxScala has been extracted from RxJava prior to 1.0 as per https://github.com/ReactiveX/RxJava/issues/589

I have done this with a simply copy/paste/commit for now. Commit history remains in the 0.20.x branch of RxJava: https://github.com/ReactiveX/RxJava/tree/0.20.x

If anyone wishes to replace the code in this project with files that retain commit history, go ahead and make the changes.

Over th

[2014-08-19 07:20] benjchristensen opened #2 "Need README"
This project needs a README for the base page. I chose not to just move the README from the subfolder since it is serving more as documentation rather than the entry point for the project.

We'll need something similar to https://github.com/ReactiveX/RxJava/blob/1.x/README.md

[2014-08-19 14:02] samuelgruetter commented on #1
I think it's important to keep the history. I extracted the Scala files using `git filter-branch` into this repo:

https://github.com/samuelgruetter/RxScala

I also made sure that all tags are kept, so that one can easily browse the source of an older release. This increases the size of the `.git` folder, because the Java files referenced by the tags are still kept, but I think keeping the tags is

[2014-08-19 14:11] zsxwing commented on #1
@samuelgruetter you forgot `rxjava-scalaz`. Is there any magic command to `Splitting two subfolders out into a new repository`? If not, just manually adding `rxjava-scalaz` looks fine since there are only several commits.

[2014-08-19 14:25] benjchristensen commented on #1
Thank you for figuring this out. I saw there was probably a way to do it when Googling but was too tired last night to try.

I'll force push so the starting point is correct and then update the builds ... all the build stuff will be changing in the next week or two as well.

[2014-08-19 14:34] benjchristensen commented on #1
Are you okay with the scalaz module being part of RxScala?

[2014-08-19 15:15] benjijones opened #3 "groovy?"
Correct me if I'm wrong, but I think the wrong set of files was copied into this repo...

[2014-08-19 15:43] headinthebox commented on #1
I strongly vote to keep the Scalaz parts out on their own, and make that independent add-on using extension methods.

[2014-08-19 15:47] samuelgruetter commented on #1
The important point is that we can ship an RxScala JAR which does not depend on scalaz. Whether or not their source is in the same github repo is a different question, and I'm not (yet) sure what's better.

[2014-08-19 15:57] samuelgruetter commented on #1
Another point is that if we have the scalaz parts in a separate repo, it's easier to have a separate versioning there (if that's desired).
/cc @everpeace

[2014-08-19 16:04] #3 closed, assigned to nobody

[2014-08-19 16:31] jbripley commented on #1
I'd also prefer Scalaz to be a separate repo.

[2014-08-19 17:14] everpeace commented on #1
Hello guys.  OK. I agree that I will create separate repo of `rxjava-scalaz` because of easier independent versioning.  I'm ok to proceed `RxScala` bootstrap without scalaz part.

[2014-08-19 17:39] benjchristensen commented on #1
The history of RxScala is restored. The structure will change though, and all the build setup will change in the coming days.

[2014-08-19 17:40] benjchristensen commented on #1
@everpeace How do you want to do this?

[2014-08-19 22:14] everpeace commented on #1
@benjchristensen Thank you for your kindness.   As @samuelgruetter pointed out, `RxScala` can ship its jar with no dependency to scalaz.  So, I think there is not so big issue if `rxjava-sclaz` will be in `RxScala` repo.  Besides, I think it's better that `RxScala` ships some functional type class instances for functional programmers.

However, unfortunately, I recognize some contributors want to

[2014-08-20 18:58] headinthebox commented on #2
Yup. The previous README was more of a design doc.

[2014-08-21 04:03] experquisite opened #4 "Observable.collect"
Similar to other Scala collections, it would be very helpful to have a collect(), taking the usual partial function, to simultaneously filter and map.  An example use case is unwrapping one of several case classes with a single partial match and forwarding on the contents, useful for processing one message type out of several flowing on the observable.

[2014-08-21 06:23] benjchristensen commented on #4
cc @samuelgruetter @zsxwing

[2014-08-21 06:46] zsxwing commented on #4
@experquisite do you mean the `collect` in the scala collection api?

[code]

I think it's helpful. Do you think the following API is what you want?

[code]

[2014-08-21 06:51] zsxwing commented on #4
I'll add it once the build script is set up.

[2014-08-21 14:31] benjchristensen opened #5 "Missing onBackpressureBuffer/Drop"
RxScala is missing the onBackpressure operators. We should get these added here and in RxJava 0.20.x.

In the meantime code can drop down to the underlying Java Observable using https://github.com/ReactiveX/RxScala/blob/master/src/main/scala/rx/lang/scala/JavaConversions.scala

[2014-08-21 15:13] zsxwing commented on #5
@benjchristensen I have already done this one in my repo. Do you think if I need to wait for the new build script?

[2014-08-21 15:51] experquisite commented on #4
Yes that would be most excellent.  Thanks!

[2014-08-21 16:47] headinthebox commented on #4
Cool.

[2014-08-21 20:22] samuelgruetter commented on #4
+1

There are actually quite a few methods on Scala collections which are not in RxJava, but would be useful in RxScala. We noticed this a long time ago already, but so far no one checked all Scala collection methods on whether they would be useful in RxJava. Quoting the outdated [TODO list](https://github.com/ReactiveX/RxScala/blob/master/TODO.md):

[2014-08-21 21:24] EugeneLoy commented on #2
Also requesting instructions on how to build the project.
Checked out the sources today and can't figure it out how to put everything together (due to unsatisfied dependency on `rxjava-core` whitch is now missing in `RxJava`'s master, though I am a Gradle newbie, so it is possible that I am derping something).
As far as I've understood `RxScala` were factored out from `RxJava` repo recently, so I

[2014-08-22 01:20] zsxwing commented on #2
@EugenyLoy RxScala was just extracted from RxJava. We are still working on the migration.

[2014-08-22 01:23] zsxwing commented on #2
@EugenyLoy you can use a temporary build.gradle to build RxScala in my repo: https://github.com/zsxwing/RxScala/blob/rxscala-operators/build.gradle. It only supports building and generating an IntelliJ project.

[2014-08-22 04:05] benjchristensen commented on #5
You can go ahead and start working on this code base. We just can't do releases yet.

Changes like this one should also be submitted to the RxJava 0.20.x branch where I can still do releases on the com.netflix.rxjava groupId with the old build and release system. If you do that I'll release 0.20.1 shortly as I have another bug I need to fix as well.

[2014-08-22 04:06] benjchristensen commented on #4
Go ahead and start working in this code base. This new repo will be for 0.21 and beyond. We can't release anything yet and don't have PR auto building right now, but dev can continue with PRs being tested on local dev machines.

[2014-08-22 09:35] zsxwing commented on #4
`collect` is added in https://github.com/ReactiveX/RxJava/pull/1623

[2014-08-22 09:36] zsxwing commented on #5
`onBackpressureBuffer/Drop` is added in https://github.com/ReactiveX/RxJava/pull/1623

[2014-08-22 16:31] headinthebox commented on #1
That might be the optimal solution.

[2014-08-22 16:32] headinthebox commented on #5
@zsxwing Trapped inside the tarpit now, will take a look over the weekend.

[2014-08-22 16:35] everpeace commented on #1
@headinthebox Yes, I think so too.  That's why I agreed firstly. I will do that after 1.0 release.

I would be very happy if `rx-java-scalaz` would be on `RxScala`'s README.  Is that possible?

[2014-08-22 17:51] benjchristensen commented on #1
There is a list on the Wiki where it can be referenced: https://github.com/ReactiveX/RxJava/wiki#rxjava-libraries. Once RxScala gets its docs in place it can be added there as well.

Once www.reactivex.io is fully alive we can have a list of 3rd party Rx libraries.

[2014-08-22 17:55] everpeace commented on #1
@benjchristensen Oh, that sounds nice. Thanks!

[2014-08-22 19:50] EugeneLoy commented on #2
@zsxwing thanks, it worked for me.

[2014-08-31 15:48] zsxwing commented on #4
Close as already added in https://github.com/ReactiveX/RxJava/pull/1623

[2014-08-31 15:48] #4 closed, assigned to zsxwing

[2014-08-31 15:50] zsxwing commented on #5
Close as already added in https://github.com/ReactiveX/RxJava/pull/1623

[2014-08-31 15:50] #5 closed, assigned to zsxwing

[2014-09-17 22:11] mighdoll commented on #1
noting here that we should cross build a 2.11 version (as well as labeling the 2.10 version appropriately.)

[2014-09-18 01:35] zsxwing commented on #1
@benjchristensen, @quidryan  could you help take a look at https://github.com/nebula-plugins/gradle-rxjava-project-plugin/issues/1 ?

[2014-09-23 21:56] benjchristensen opened #14 "RxScala: buffer(timespan,timeshift) raises IllegalArgumentException for timeshift < 1 second"
Originally filed by @lJoublanc  in https://github.com/ReactiveX/RxJava/issues/1349:

---

I'm on 0.16. The following code will throw an IllegalArgumentException:

[code]

Looking at the implementation of the scheduler, the error is raised when the argument is less than zero. So there appears to be a problem causing the `timeshift` to be rounded down. If you change the `timeshift` to 1 second or la

[2014-09-23 21:57] benjchristensen opened #15 "RxScala: Publish"
Originally filed by @headinthebox at https://github.com/ReactiveX/RxJava/issues/1341

---

It seems we cannot swap and curry the arguments of

[code]

since that causes ambiguity with

[code]

Interestingly .NET does not have `publish` with a function and initial value.

[2014-09-23 21:58] benjchristensen opened #16 "Implicit Schedulers"
Originally filed by @samuelgruetter and https://github.com/ReactiveX/RxJava/issues/815

---

This is a proposal to use Scala's implicits to improve the Schedulers part of the RxScala API, by @vjovanov and myself.
### Current situtation

There are many methods depending on a Scheduler. Since we do not want to always pass the Scheduler argument explicitly, there's a second version of each method whi

[2014-09-23 21:58] benjchristensen commented on #16
See discussion history at https://github.com/ReactiveX/RxJava/issues/815 prior to RxScala project.

[2014-09-23 22:26] benjchristensen opened #17 "RxScala Build"
We need to get the build and release process for RxScala functioning.

One requirement of RxScala that differs from other projects is it wants the ability to publish multiple artifacts based on different Scala versions. An issue for the Nebula plugin is at https://github.com/nebula-plugins/gradle-rxjava-project-plugin/issues/1

This is holding up progressing on RxScala as no new releases can be ma

[2014-09-23 22:28] benjchristensen commented on #17
Our goal is to keep as close as possible to RxJava and leverage the work on the Nebula RxJava plugin so as to benefit from the shared effort, particularly around releases to Maven Central.

The RxScala community can migrate this to SBT if wanted, but then the RxJava team and ecosystem will not be able to help RxScala with any build and release items.

[2014-09-25 18:35] jmhofer commented on #17
I'm currently trying to move this to an sbt build because this should be quite easy.

However, it doesn't even compile. Which version of RxJava is this currently compatible with? The gradle build says "io.reactivex:rxjava:1.0.+", but my attempt with 1.0.0-rc.3 failed.

[2014-09-25 18:57] benjchristensen commented on #17
So you're going to also take on the task of getting the binary release to Maven Central working?

[2014-09-25 19:05] jmhofer commented on #17
I intend to do so. Does ReactiveX have some specific repository to publish to that syncs with Maven Central?

Btw, I got it to compile now. There were just a lot of deprecated methods still in that I deleted.

[2014-09-25 19:24] benjchristensen commented on #17
Yes we do. It is Bintray: https://bintray.com/reactivex/RxJava/RxScala/view

You'll need to use Travis and setup an "after_success" script to run and do the release process.

See here for me playing with it: https://github.com/ReactiveX/BuildInfrastructure/blob/master/.travis.yml

I'll add the secure variables to the .travis.yml file.

Note here how the `publishViaTravis.sh` file only executes the

[2014-09-25 19:27] jmhofer commented on #17
Awesome. I'll take a look.

[2014-09-25 19:39] benjchristensen commented on #17
I just added `bintrayUser` and `bintrayKey` as secure env variables to https://github.com/ReactiveX/RxScala/blob/0.x/.travis.yml

[2014-09-25 20:05] jmhofer commented on #17
Thanks. Next, I have to find a way to turn these environment variables into publishing credentials for sbt-bintray. After that, it might work...

[2014-09-26 20:19] #17 closed, assigned to nobody

[2014-09-26 22:53] benjchristensen opened #20 "sbt build"
Discuss the ongoing work with the sbt build and publishing to Maven Central...

[2014-09-26 22:53] benjchristensen commented on #20
Go to https://bintray.com/reactivex/RxJava/RxScala/view/central

Click on Maven Central and see the errors:

[code]

[2014-09-26 22:53] benjchristensen commented on #20
/cc @jmhofer

[2014-09-26 23:01] jmhofer commented on #20
This means adding sbt-pgp as well as some "pomExtra".

[2014-09-26 23:06] jmhofer commented on #20
A lot of helpful details for this: http://www.theguardian.com/info/developer-blog/2014/sep/16/shipping-from-github-to-maven-central-and-s3-using-travis-ci

[2014-09-26 23:10] benjchristensen commented on #20
Do you need the PGP keys in the Travis file for this?

[2014-09-26 23:14] benjchristensen commented on #20
I just added PGP_ENCRYPTION_PASSWORD to the .travis.yml file

[2014-09-26 23:23] benjchristensen commented on #20
I need to figure out which of the GPG files I need to provide and how. This was all done in the Jenkins build before on the Gradle plugin. Need to relearn this stuff ...

[2014-09-26 23:29] samuelgruetter commented on #20
Is it intended that there's already a [1.0.0-RC1](https://bintray.com/reactivex/RxJava/RxScala/1.0.0-RC1/view)? Imho RxScala should still be at 0.x.y.

[2014-09-26 23:38] benjchristensen commented on #20
That's up to you all. Whatever version you want.

[2014-09-27 08:09] jmhofer commented on #20
@benjchristensen Do you have the encrypted key files (`secring.gpg.enc` and `pubring.gpg.enc`)? These have to be added to the project.

[2014-09-27 08:20] jmhofer commented on #20
If what you added is the password which the key files are encrypted with, and your key also has a passphrase, we also need that passphrase in the `.travis.yml`.

[2014-09-27 09:33] jmhofer commented on #20
Everything should be prepared now for proper publishing to Maven. We just need to get the keys working.

[2014-09-27 14:43] benjchristensen commented on #20
I have added the files using the travis encrypt-file mechanism:

[code]

Travis will take care of decrypting those files.

The PGP_ENCRYPTION_PASSWORD is the passphrase for the key.

[2014-09-27 14:47] benjchristensen commented on #20
Confusingly those files are failing to be decrypted ... even though they were encrypted using Travis.

https://travis-ci.org/ReactiveX/RxScala/jobs/36436024

[2014-09-27 15:26] benjchristensen commented on #20
Alright, finally have it working.

When adding two files you can't allow Travis to auto generate the keys, as it creates new keys for each file and overwrites the ones generated for the previous file :-$

The private and public keys are now being decrypted correctly and you can make changes to use them.

Then you can release with whatever version you want ... perhaps 0.21.0 until everyone agrees o

[2014-09-27 15:27] benjchristensen commented on #20
Here is the log showing the 2 files being decrypted: https://travis-ci.org/ReactiveX/RxScala/jobs/36438163#L35

[2014-09-28 19:28] jmhofer commented on #20
Ok, I'll try to release a 0.21.0. But then, you probably should unpublish 1.0.0-RC1 again.

[2014-09-28 19:40] jmhofer commented on #20
For some reason, Bintray returned a "405 Not Allowed" when uploading the 2.11 version of RxScala. Maybe because it was in parallel to uploading 2.10? - Then I'll have to do the crosspublishing in the build instead of letting Travis do it...

[2014-09-28 19:55] benjchristensen commented on #20
The files released are invalid.

https://bintray.com/reactivex/RxJava/RxScala/0.21.0/view/central

[2014-09-28 19:58] jmhofer commented on #20
The 2.11 was not completely published. - But I can't see the Maven Central stuff on Bintray.
The build for 0.21.1 was completely successful. Maybe this one will get through to Maven? - If not, please paste the error log here again.

[2014-09-28 20:13] benjchristensen commented on #20
Looks like it published and is on its way.

[2014-09-28 20:14] jmhofer commented on #20
Yay, finally!

[2014-09-28 20:48] benjchristensen commented on #20
You can them on the repo now: http://repo1.maven.org/maven2/io/reactivex/

[2014-09-29 18:07] jmhofer commented on #2
I just updated the information about building in the readme. It's now standard sbt.

[2014-09-29 18:09] jmhofer commented on #1
Cross building is in now thanks to sbt.

[2014-09-29 19:35] samuelgruetter commented on #20
Now that https://github.com/ReactiveX/RxScala/pull/21 is also fine, we can consider this issue resolved, imho :)

[2014-09-30 01:26] zsxwing commented on #1
Cool, Thanks @jmhofer

[2014-10-01 18:23] jmhofer commented on #20
I wonder what happened to the Travis build now. All current PRs have a problem with the keys in the `before_install` script. None of the PRs change anything in the build or configuration.

Anyone have any idea what's happening here?

[2014-10-01 19:13] #1 closed, assigned to nobody

[2014-10-01 19:14] #2 closed, assigned to headinthebox

[2014-10-01 19:15] benjchristensen commented on #20
I know that pull request builds don't allow secure data in them: http://docs.travis-ci.com/user/pull-requests/

So I'm trying to find out how to make it so it doesn't execute that on a pull request.

[2014-10-01 19:18] jmhofer commented on #20
Ok, so maybe we can simply move these from before_install into the `publishViaTravis` shell script.

[2014-10-01 19:18] benjchristensen commented on #20
Maybe we can move the `openssl` commands inside the `./publishViaTravis.sh` script inside the `if` block? The environment variables will be available to `./publishViaTravis.sh` so the following should work there as well:

[code]

Then we just won't have a `before_install` section of `.travis.yml`

[2014-10-01 19:27] benjchristensen commented on #20
Yes, I just tried making those changes. It should fix the pull requests, no idea if the publish script will work until next time you try a release.

[2014-10-01 22:31] samuelgruetter commented on #20
A few minutes ago, I triggered a rebuild for [build 37](https://travis-ci.org/ReactiveX/RxScala/builds/36759001) (PR https://github.com/ReactiveX/RxScala/pull/23), but it still fails with the same error...

[2014-10-01 22:44] samuelgruetter commented on #20
If I do locally

[code]

and then

[code]

then I can see your two commits:

[code]

So it looks like Travis got your updates. But it still executes the openssl commands, which is a contradiction -- I don't get it...

[2014-10-01 23:31] benjchristensen commented on #20
Your .travis.yml file is still the old one.

[2014-10-03 12:07] flatmap13 opened #26 "Observable.range() operator is missing"
We should add the operators that Iterable has to Observable as well, to make them match up.

[2014-10-03 14:33] samuelgruetter commented on #26
The [comparison table](http://reactivex.io/rxscala/comparison.html) explains why `Observable.range()` is missing.
You can do this:

[code]

and I think that's sufficient. Don't you?

[2014-10-03 17:25] gkhom commented on #26
That makes sense. But isn't there some (small) overhead in creating the `Range` first?

[2014-10-03 17:35] samuelgruetter commented on #26
Maybe ;-) But that overhead is really small, because the `Range` object just stores the first and the last number and the step size, without storing all numbers inbetween.

[2014-10-03 17:49] headinthebox commented on #26
I think it would be nice to add it.

[2014-10-03 18:06] samuelgruetter commented on #26
Why? Because you think an API of 325 operators is not yet big enough, and it would be nice to add yet another way of doing the same ;-)
What I find nice is that `Range` is a subtype of `Iterable`, which allows us to use the same method for two things which need different ones in Java. Don't you see the beauty and power of the abstraction ;-)

[2014-10-03 19:39] headinthebox commented on #26
I have absolutely no sense of abstract.

[2014-10-04 16:11] zsxwing opened #28 "The next version should be 0.21.2 or 0.22.1?"
I'm trying to merge https://github.com/ReactiveX/RxJava/pull/1701 into RxScala. Therefore, I have to upgrade RxJava from 1.0.0-RC3 to 1.0.0-RC4.

However, RxJava 1.0.0-RC4 contains a breaking change: [Pull 1716 Remove Observable.Parallel](https://github.com/ReactiveX/RxJava/pull/1716). So if we upgrade to 1.0.0-RC4, we also need to make a breaking change in RxScala: removing `parallel`.

So there

[2014-10-04 17:26] jbripley commented on #28
0.21.1 is a bit unfortunately named, since we're  still dependent on RxJava 1.0.0-RCx. 0.21.0-RC1 would have been better in that regard.

I suggest we name the next release with your changes 0.22.0-RC1. I want to upgrade us to RxJava 1.0.0-RC5 whenever that's released, so I can mirror the signature changes to retryWhen/repeatWhen, which will also break the public API. I can then make that 0.22.0-R

[2014-10-04 20:35] samuelgruetter commented on #28
Let's move forward and do these breaking changes, and name the next release `0.22.something`.
I'm not yet quite sure whether `something` should contain `RC` or not. @jbripley do you mean a non-RC RxScala release should not depend on an RC RxJava release?

[2014-10-04 21:44] jbripley commented on #28
Yes, it feels a bit weird having a "stable" RxScala release being dependent on a RxJava release candidate.

I don't see the harm doing a couple of RxScala RC releases while we wait for RxJava to get to 1.0.

[2014-10-05 08:19] zsxwing commented on #28
Is there any reason that RxScala should release something before RxJava 1.0? Maybe we can just wait for it.

[2014-10-05 09:16] headinthebox commented on #28
We should just wait.

[2014-10-05 09:27] headinthebox commented on #26
All jokes and arguments about orthogonal bases aside, I do think consistency between `Iterable.XXX` and `Observable.XXX` whenever it makes sense is something to strive for. In fact, in .NET we back ported several method of `IObservable` back to `IEnumerable`. In fact, this is the only exception I make when considering adding new operators. Also, another argument is that it is a standard Rx operato

[2014-10-05 10:49] samuelgruetter commented on #26
+1

But I see a problem: The arguments of `range` in Scala's Iterable are `start` and `end`, but in Java's Observable, it's `start` and `count`. So, whichever of these two we chose, people will say we did it wrong...

[2014-10-05 11:00] headinthebox commented on #26
Agree; I _much_ prefer Scala's choice. Alway mess up with the count thing.

[2014-10-05 12:00] jbripley commented on #28
That's true, we don't need to do any RxScala RC's, I was getting ahead of myself.

So we just treat the `0.x` branch as the upcoming 0.22.0 release from now until RxJava `1.0` then?

[2014-10-05 13:31] samuelgruetter commented on #28
I'd say so.

And if someone needs an RxScala release before RxJava 1.0 is out, we can still release a 0.22.0-RC1.

[2014-10-05 14:40] zsxwing commented on #28
Closed since we all agree on waiting for RxJava 1.0

[2014-10-05 14:40] #28 closed, assigned to nobody

[2014-10-05 16:56] zsxwing opened #30 "Support Scala 2.9"
Should RxScala support Scala 2.9?

I just reviewed the change log at http://www.scala-lang.org/download/changelog.html. Here are the 2.10 features used in RxScala:
* Value Classes (rx.lang.scala.observables.BlockingObservable, rx.lang.scala.ObservableExtensions)
* Implicit Classes (rx.lang.scala.ObservableExtensions)
* String Interpolation (only use in test and example codes)

[2014-10-05 17:47] headinthebox commented on #30
All those crazy Scala versions make me feel like I'm back at bills ranch with a crazy number of .net versions. As long as the Scala creators cannot make up their mind, we should just support version n and version n-1. Let's not reward indecisiveness of compilers writers.

[2014-10-05 17:58] jbripley commented on #30
I agree. Also, wouldn't we need to remove `Observable.from(Future)`, since Future was added in `2.10`?

[2014-10-05 18:21] zsxwing commented on #30
The argument is Scala 2.10 was released in Dec, 2012. There is less than two years. Some people and projects may not have enough time to migrate from 2.9 to 2.10.

I won't vote for supporting Scala 2.9 unless we only need to change a few codes. However, when I tried to compile with 2.9, the compiler reported many messy generics errors:

[code]

My test branch is https://github.com/zsxwing/RxScala/

[2014-10-05 18:21] headinthebox commented on #30
i.e. we support 2.10 and 2.11

[2014-10-05 18:23] headinthebox commented on #30
2 years to migrate? Wow, I wonder if companies that take so long are still in business.

In cases like this we should be reactive (pun intended) not proactive. Lets first gather data what percentage of RxScala users is still on an ancient Scala version.

[2014-10-05 18:28] zsxwing commented on #30
Agree. Let's keep this issue open, so if someone is still using 2.9, they can report here.

[2014-10-05 18:28] headinthebox commented on #30
Like!

[2014-10-05 18:36] fommil commented on #30
We're still using 2.9.2 at my work and locked in due to internal dependencies that are not moving to 2.10+. The business is very profitable despite this, OMG, it's almost like upgrading scala versions is not core business for them.

The features you've described are sugar, not unsupported things like macros, so this could be supported in a backport branch . Depend on akka 2.0.5 and find Future and

[2014-10-05 18:40] fommil commented on #30
Actually ENSIME is also a potential user of scala rx but we can't use it because there is no 2.9 backport.

[2014-10-06 08:00] zsxwing commented on #30
@fommil, could you take a look at the errors in https://github.com/ReactiveX/RxScala/issues/30#issuecomment-57946750? The codes are in my branch: https://github.com/zsxwing/RxScala/tree/scala-2.9

I know nothing about the generic difference between Scala 2.9 and 2.10. This may be the hardest part to support Scala 2.9.

[2014-10-06 08:17] fommil commented on #30
some main points
- implicit classes can be replaced with a normal class and an implicit conversion method
- no `extends AnyRef`, just survive
- no string interpolation, just do the simple rewrite
- this might help https://github.com/ensime/ensime-server/blob/scala-2.9/src/main/scala/compat.scala
- write against 2.9.2 (not 2.9.3) because 2.9.3 source will not compile under 2.9.2 (they added a bunch

[2014-10-06 14:43] fommil opened #31 "how to access rxjava-contrib?"
I'm trying to migrate from

[code]

to whatever the latest is, but it seems that by moving to `"io.reactivex" %% "rxscala" % "0.21.1"` I lose all the `-contrib` content such as `StringObservable`.

It looks like all the contrib material has been axed from 1.0.0... how am I supposed to use it? Is there a build of rxscala that depends on the 0.20 branch? It seems to be making releases after the 1.0.

[2014-10-06 15:59] zsxwing commented on #31
`contrib/rxjava-string` was split into https://github.com/ReactiveX/RxJavaString
You can use the latest release: https://github.com/ReactiveX/RxJavaString/releases/tag/v0.21.0

[2014-10-06 16:48] fommil commented on #31
it hasn't been published yet https://github.com/ReactiveX/RxJavaString/issues/3

[2014-10-06 16:48] #31 closed, assigned to nobody

[2014-10-07 16:49] benjchristensen opened #32 "Remove GroupByUntil"
The 1.0.0-RC5 release removed `groupByUntil` so this needs to be done in RxScala

See https://github.com/ReactiveX/RxJava/releases/tag/v1.0.0-rc.5

[2014-10-07 22:30] benjchristensen opened #33 "Recursive scheduling"
Should we add support for recursive scheduling in RxScala? The signature `def schedule(action: => Unit): Subscription` is very elegant for single shot work, but recursive scheduling (https://github.com/Netflix/RxJava/wiki/Scheduler) is less nice.

---

Originally filed by @headinthebox at https://github.com/ReactiveX/RxJava/issues/1348

[2014-10-08 08:50] gkhom commented on #33
Perhaps I'm missing something but this was already added in [#1537](https://github.com/ReactiveX/RxJava/pull/1537)

[2014-10-08 16:10] benjchristensen commented on #33
If it's done please confirm and close. I just opened this because https://github.com/ReactiveX/RxJava/issues/1348 was still open while I was reviewing RxJava issues.

[2014-10-08 16:10] benjchristensen commented on #32
Done in https://github.com/ReactiveX/RxScala/pull/27

[2014-10-08 16:10] #32 closed, assigned to nobody

[2014-10-08 16:19] benjchristensen opened #34 "RxScala 1.0"
What needs to happen for RxScala to hit 1.0 and be considered a final supported API?

[2014-10-08 16:28] benjchristensen commented on #34
/cc @ReactiveX/rxscala-committers

[2014-10-08 16:30] gkhom commented on #33
The RxScala `scheduleRec(action: => Unit): Subscription` method is [here](https://github.com/ReactiveX/RxScala/blob/0.x/src/main/scala/rx/lang/scala/Scheduler.scala#L101).
But I don't have the rights to close this issue :-)

[2014-10-08 16:37] headinthebox commented on #33
I do ;-)

[2014-10-08 16:37] #33 closed, assigned to nobody

[2014-10-08 17:14] samuelgruetter opened #35 "Scaladoc"
The scaladoc needs some attention:
-    Some classes/methods don't have any documentation, eg [Producer](http://reactivex.io/rxscala/scaladoc/index.html#rx.lang.scala.Producer)
-    Some links to other classes don't work, or are displayed in full length, eg "rx.lang.scala.Observer" instead of just "Observer"
-    Running `sbt doc` spits out a lot of warnings.

Some remarks:
-    The goal is not to

[2014-10-08 17:23] samuelgruetter opened #36 "Fail the build if CompletenessTest is not happy"
The [CompletenessTest](https://github.com/ReactiveX/RxScala/blob/0.x/src/test/scala/rx/lang/scala/CompletenessTest.scala) ensures that:
-    all methods of the Java Observable have a corresponding method in the Scala Observable, or a comment on why they don't
-    all Scala methods mentioned in the test actually exist
-    all Java methods mentioned in the test actually exist

If any of these fail

[2014-10-08 17:32] samuelgruetter opened #37 "Move RxScalaDemo & Example Coverage"
It would be nice to move the examples in [RxScalaDemo](https://github.com/ReactiveX/RxScala/blob/0.x/examples/src/test/scala/rx/lang/scala/examples/RxScalaDemo.scala) to the [examples](https://github.com/ReactiveX/RxScala/tree/0.x/examples/src/main/scala) subproject, with one file per operator, so that it's easier to navigate through the examples, and that they can be included in the website.

Add

[2014-10-08 17:46] samuelgruetter commented on #26
Here's how I would "solve" this issue: https://github.com/ReactiveX/RxScala/pull/38

[2014-10-08 17:53] samuelgruetter opened #39 "Adding -Xfatal-warnings"
Warnings by the Scala compiler often reveal problems with the code, and there's the `-Xfatal-warnings` option which makes the build fail if there are warnings. Currently, there are no warnings in this project, so we could add the `-Xfatal-warnings` option without problems, and be sure that further PRs don't introduce any warnings.

I tried to add the option to `build.sbt`, but it only applies to t

[2014-10-08 18:16] samuelgruetter opened #40 "Use default arguments for default schedulers"
Many methods have two versions: One without scheduler, which uses some default scheduler, and one which takes a scheduler provided by the user.

Example:

[code]

Using Scala's default arguments, these two methods could be replaced by just one:

[code]

For users, this _should_ not cause any breaking changes.

In addition to making the API much smaller, this also provides much better documentation

[2014-10-08 18:21] samuelgruetter commented on #34
I've just added some issues that should imho be addressed before 1.0: #35, #36, #37, #38, #39, #40. And the other open issues should all be addressed as well, of course.

[2014-10-08 19:35] headinthebox commented on #40
I like default arguments (and I think implicit schedulers are too complicated).
What is nice about default parameters is that it is crystal clear what the scheduler is.
Lets do it.

[2014-10-08 19:36] headinthebox commented on #39
Let's hope we don't have any warnings.

[2014-10-08 19:44] headinthebox commented on #34
Those issues look good. I still have a few bugs filed against me as well.

[2014-10-08 19:48] samuelgruetter commented on #39
`build.sbt` is not set in stone ;-) So if at some point we get a false warning that we can't silence, we can just remove the `-Xfatal-warnings` option.

[2014-10-08 20:02] jbripley commented on #40
I could take a look at this one.

[2014-10-08 20:02] jbripley commented on #36
I could take a look at this one.

[2014-10-08 22:44] benjchristensen commented on #40
That is a very nice Scala feature.

[2014-10-09 05:55] zsxwing commented on #40
Sorry that I assigned this one to myself by mistake. I planed to assign to @jbripley. However, looks I can only assign to people in ReactiveX.

[2014-10-09 06:02] zsxwing opened #41 "Naming when importing RxJava classes"
A suggestion for the code style: rename `XXX` to `JXXX` when importing a class from RxJava. This would improve the code readability and follow the style of Scala collection codes.

[2014-10-09 07:31] samuelgruetter commented on #41
+1

But in [JavaConversions](https://github.com/ReactiveX/RxScala/blob/0.x/src/main/scala/rx/lang/scala/JavaConversions.scala) and [ImplicitFunctionConversions](https://github.com/ReactiveX/RxScala/blob/0.x/src/main/scala/rx/lang/scala/ImplicitFunctionConversions.scala) I would not do that, because they're exposed to the users, so they should keep the whole name.
And I would only do the renaming i

[2014-10-09 07:52] headinthebox commented on #41
Mmm, smells too much like http://en.wikipedia.org/wiki/Hungarian_notation to me.

[2014-10-09 15:52] zsxwing commented on #39
There are some warnings when compiling with Scala 2.11.

[code]

[2014-10-09 16:29] jbripley commented on #39
I tried to fix those in a CompletenessTest cleanup PR that I made, but the suggested method/property changes for the remaining deprecation warnings don't exist in 2.10.

[2014-10-09 17:12] samuelgruetter commented on #39
So this means that there is no solution which emits no warnings and no errors both in 2.10 and 2.11. Which probably means that we better give up the idea of adding the `-Xfatal-warnings` option...

[2014-10-12 16:14] #36 closed, assigned to nobody

[2014-10-13 16:36] #39 closed, assigned to nobody

[2014-10-25 14:27] samuelgruetter opened #50 "Remove Observable.compose"
In RxJava, `compose` was added because it allows us to write

[code]

instead of

[code]

where the order of operations is not easy to read.

In Scala, however, I'd never solve this problem using that pattern, but I'd use extension methods, so that I could write

[code]

where `op4` is an extension method which does the same as `f4`.
This is much nicer than `compose`, and I think `compose` will co

[2014-10-25 16:06] headinthebox commented on #50
+1 for not having it. Extension methods FTW.

[2014-10-25 16:46] zsxwing commented on #50
+1

[2014-10-25 18:08] jbripley commented on #50
+1

[2014-10-30 02:11] zsxwing commented on #50
Done in #51

[2014-10-30 02:11] #50 closed, assigned to nobody

[2014-11-03 14:13] zsxwing commented on #15
Close as they are removed in #52

[2014-11-03 14:13] #15 closed, assigned to headinthebox

[2014-11-06 01:43] #14 closed, assigned to headinthebox

[2014-11-10 11:59] headinthebox opened #59 "Implementation of tail"
Why is `tail` not defined as `skip(1)`?

[2014-11-10 12:34] samuelgruetter commented on #59
We try to be as similar to Scala Lists as possible, and there, `tail` is not the same as `drop(1)`:

[code]

[2014-11-10 12:36] headinthebox commented on #59
Cool, can we have Scala-style `range` then as well ;-)

[2014-11-15 15:30] ScottWeinstein opened #60 "Which are the correct rxscala builds?"
1. What the README links to [rxjava-scala](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22rxjava-scala%22)
2. What the README says [rxscala](http://search.maven.org/#search%7Cga%7C1%7Crxscala)

[2014-11-15 17:02] zsxwing commented on #60
From 0.21, RxScala changed from `"com.netflix.rxjava" % "rxjava-scala"` to `"io.reactivex" %% "rxscala"`. Sorry that README is out of date. Will update it soon.

Thank you for reporting it.

[2014-11-17 00:24] samuelgruetter opened #62 "RxScalaDemo: Make onBackpressureDropExample nicer"
I had a look at the `onBackpressureDropExample` in `RxScalaDemo`, and it took quite a while until I grasped it.

Of the 2000 items emitted by the fast Observable, the first 1024 are printed, and the others aren't. However, I'd have expected an output similar to

[code]

That is, most numbers are dropped because the Subscriber is much slower than the producer, but some arbitrary elements get throug

[2014-11-17 13:52] samuelgruetter commented on #62
Moreover, this line in `createFastObservable`

[code]

probably does not what it should, as the following example illustrates:

[code]

[2014-11-18 02:23] zsxwing commented on #62
My mistake :(

1) `toStream`

[code]

2) for-break

[code]

3) while loop

[code]

which one is better? I think 1) is fragile (at least for me, easy to forget `toStream`), 2) and 3) is easy to understand, but I don't like `break`. So I vote for 3)

[2014-11-18 06:56] zsxwing opened #63 "A better name of `collect`"
RxJava changed `collect` to `Observable<R> collect(Func0<R> stateFactory, final Action2<R, ? super T> collector)` in https://github.com/ReactiveX/RxJava/pull/1884/files#diff-c3bbc6e9e497930d46361b0b8140431cR3471 to fix https://github.com/ReactiveX/RxJava/issues/1831

RxScala has the same issue and needs a similar operator too. https://github.com/ReactiveX/RxJava/pull/1835 is a great fix for RxScal

[2014-11-18 08:15] samuelgruetter commented on #62
I'd prefer 3) as well. With `_` replaced by `i` of course ;-)

[2014-11-18 11:02] samuelgruetter commented on #63
I'll probably also prefer to have another name for the RxJava `collect` in RxScala. But it seems that similar problems arise with Scan and Reduce, and they're not yet solved in RxJava, so maybe wait until we know what's happening in RxJava?

[2014-11-18 12:33] zsxwing commented on #62
We need to make emitting items in `Observable` and receiving items in `Subscriber` run in different threads. Looks `observeOn` is necessary. The default value of `RxRingBuffer.SIZE`  reduced to `128` in https://github.com/ReactiveX/RxJava/pull/1836 Maybe now it's acceptable?

[2014-11-19 22:18] benjchristensen opened #66 "Upgrade to RxJava 1.0.0"
I have committed the upgrade to 1.0 but there are a variety of other changes in flight so don't want to release unless you all say it's okay.

Can we release 0.24?

/cc @samuelgruetter @zsxwing @headinthebox

[2014-11-19 22:28] headinthebox commented on #66
I have been/am crazy busy until the end of this week. I'd love to take a look at the recent changes, but I trust  @samuelgruetter @zsxwing to make a go/no go for 0.24.

[2014-11-20 03:28] zsxwing commented on #66
Should the next version is 0.23.0?

I propose removing `toMap` and `toMultimap` if we plan to release the next version this week. I plan to refactor them in #67 and need some time for discussion.

[2014-11-20 13:36] samuelgruetter commented on #66
I think we can release 0.23.0.

Why do you want to remove them? That would be annoying for users who want to use them.

[2014-11-20 14:12] zsxwing commented on #66
I was thinking to avoid to release 0.24.0 after 0.23.0 in several days after fixing #67. However, I agree that it's annoying for users. Considering that, I think we can release 0.23.0 now.

[2014-12-02 00:25] DavidMGross opened #69 "Lack of height attributes for images in scaladocs displays poorly in IntelliJ/IDEA"
"Dennis ‏@dnvriend: Too bad #IntelliJIDEA 14 flattens the pretty rxjava images when showing the documentation.. oh well" (https://twitter.com/dnvriend/status/539311261637685248)

This seems to be because the images in the scaladocs do not have height attributes. If you add that attribute to the image elements this problem may go away.  You can use the RxJava source as a guide for that, as the (mos

[2014-12-02 04:50] dnvriend commented on #69
Correct, I copied one image to my own project and set the attribute height="200" and it works:

[code]

[2014-12-05 03:59] zsxwing commented on #66
@benjchristensen which tool is best to generate a PR list for a release?

[2014-12-05 04:11] benjchristensen commented on #66
I do it manually every time :-) I look through the commit log since the last time and find all the PR references, copy/paste the title and URLS and then my text editor with bulk multi-line editing to format them.

[2014-12-05 07:26] zsxwing commented on #60
Already updated README

[2014-12-05 07:26] #60 closed, assigned to nobody

[2014-12-05 08:19] #69 closed, assigned to nobody

[2014-12-05 14:49] zsxwing commented on #66
I thought you might have some cool tool.

I'm OK to release 0.23.0 now. @samuelgruetter your opinion?

[2014-12-05 15:01] samuelgruetter commented on #66
Yes, let's go :-)

[2014-12-05 15:13] zsxwing commented on #66
@benjchristensen could you help release 0.23.0? The release note is in https://github.com/ReactiveX/RxScala/blob/0.x/CHANGES.md

[2014-12-06 11:04] headinthebox commented on #66
Thanks a lot guys; I'll stick with 0.23.0 for the next installment of the Coursera MOOC.

[2014-12-06 17:12] benjchristensen commented on #66
Anyone with commit privs can release by tagging 0.23.0.

You can do it via Github via the 'Draft a New Release' at https://github.com/ReactiveX/RxScala/releases

[2014-12-06 17:20] benjchristensen opened #74 "rxscala.github.io vs ReactiveX/RxScala"
@samuelgruetter Can we now remove the separate RxScala Github org? It takes precedence on Google searches and I think it will confuse people as it is very incomplete. If we're going to spend time on docs and a website I think it would be better to be done at reactivex.io/RxScala.

/cc @headinthebox

[2014-12-06 17:21] benjchristensen commented on #66
I tagged 0.23.0 and kicked off the build: https://travis-ci.org/ReactiveX/RxScala/builds/43202015#L980

[2014-12-06 17:26] benjchristensen commented on #66
It is released.

[2014-12-06 17:26] #66 closed, assigned to nobody

[2014-12-06 17:31] headinthebox commented on #74
+1 Especially now that the next installment of the Coursera MOOC is up.

[2014-12-06 18:46] samuelgruetter commented on #66
cool, thanks :)

[2014-12-06 18:52] samuelgruetter commented on #74
Sure, I'll remove the content from http://rxscala.github.io/ and replace it by forwarders to http://reactivex.io/rxscala/, so that the old links still work, but redirect the users to the new site.
@headinthebox when will the next Coursera MOOC begin?

[2014-12-06 18:53] benjchristensen commented on #74
Thanks

[2014-12-06 19:35] headinthebox commented on #74
AFAIK early 2015.

[2014-12-06 21:34] samuelgruetter commented on #74
I added the forwarders, so if you click now on one of these old links, you'll be redirected to the new site [please let me know if it doesn't work in your browser]:

http://rxscala.github.io/
http://rxscala.github.io/scaladoc/index.html#rx.lang.scala.Observable
http://rxscala.github.io/comparison.html

So the old links will continue to work. Ideally, I'd like to avoid 404 on the old links _and_ de

[2014-12-07 09:08] zsxwing commented on #66
Cool. I will try to release by myself next time :)

[2014-12-07 10:27] zsxwing commented on #59
Closed. We can continue to discuss `range` in #26.

[2014-12-07 10:27] #59 closed, assigned to zsxwing

[2014-12-07 14:50] zsxwing opened #76 "About TODO.md"
@samuelgruetter could you review `TODO.md`? I think now we can create issues for the unfinished TODOs and remove `TODO.md`, since RxScala it's a separate project.

[2014-12-07 15:12] samuelgruetter opened #77 "rx.schedulers.Schedulers.from(Executor)"
Should we add a Scala equivalent for `rx.schedulers.Schedulers.from(Executor)`? Would it take a `scala.concurrent.ExecutionContext`? And what's the relation/difference between a Java `Executor` and a Scala `ExecutionContext`?

[2014-12-07 15:18] samuelgruetter opened #78 "subscribe(println) and default args for subscribe"
If `o` is an `Observable[Int]`, this doesn't work:

[code]

But these work:

[code]

Can we make the first one work? And while we're at it, can we reduce the number of `subscribe` methods by using default arguments?

[2014-12-07 15:23] samuelgruetter commented on #76
I looked through `TODO.md`, and I think these two issues is what we need to keep: https://github.com/ReactiveX/RxScala/issues/77 and https://github.com/ReactiveX/RxScala/issues/78.
Does anyone think there's something else we should keep? If so, please add an issue. Otherwise we can delete `TODO.md`.

[2014-12-07 15:51] headinthebox commented on #78
Scala's lousy type inference always puzzles me ...

[2014-12-07 15:52] headinthebox commented on #77
I always wondered about that; why did Scala no reuse the standard Java executors?

[2014-12-07 18:04] jbripley commented on #77
I think we should add it. It would allow someone to run Scala Futures and Observables against the same underlying thread pool, which I imagine could be useful.

[2014-12-07 18:25] jbripley opened #79 "onErrorResumeNext type inference annoyance"
Since there are two overloads for ```onErrorResumeNext```, it is not possible to use the common Scala idiom of skipping the match statement for a partial function sent in to ```onErrorResumeNext(Throwable => Observable[U])```:

Ex. A
[code]

Instead it needs to be written with the more verbose version, like this:

Ex. B
[code]

I'm not the most familiar with the Scala type system, but would it be

[2014-12-07 19:24] headinthebox opened #80 "Observable error"
[code]

This can return `Observbale[Nothing]` like `empty` and `never` or not?

[2014-12-07 19:30] headinthebox opened #81 "Bikeshedding"
[code]

`create` should also use `f`.

[2014-12-07 21:19] samuelgruetter commented on #79
We're not the first to have this problem: http://scala-programming-language.1934581.n4.nabble.com/Type-inference-craps-out-tt2134282.html#a2134476
Very often, Scala's features stop working nicely when combined with overloading, and noone invests time on fixing it, because everyone says "overloading is bad"...

The simplest solution to this would be to remove the `onErrorResumeNext[U >: T](Observab

[2014-12-07 21:30] samuelgruetter commented on #80
Yes it can, because if no type parameter for `T` is given, the compiler infers the most precise type possible, which is `Nothing`:

[code]

[2014-12-07 22:01] jbripley commented on #79
Yes, removing `onErrorResumeNext[U >: T](Observable[U])` sounds like the most pragmatic way to solve this. I'll make PR using that solution and we'll see if it runs into any problems.

[2014-12-07 22:04] samuelgruetter commented on #81
Changing

[code]

to

[code]

would be very dangerous, because code written for the old `create` would still compile, but do something different.

[code]

Such code would still compile with the new `create`, because `Subscriber <: Observer` and function args are contravariant, and for the return type, by discarding the value of the last expression, we get `Unit`. But unsubscribing from `myObservab

[2014-12-07 22:45] experquisite commented on #81
Second that, it would be better to break builds IMO.

[2014-12-08 05:22] zsxwing commented on #78
It doesn't work because the following ambiguity:

[code]

Actually, `foreach` can work:

[code]

[2014-12-08 05:39] headinthebox commented on #81
That's not what I propose ... at all :-). Just to replace the _name_ `s` with `f`. Hence the subject "bike shedding"

[2014-12-08 05:45] zsxwing commented on #78
From the information `cannot be applied to (Unit)`, I guess `Observable.just(1).subscribe(println)` will be compiled to something like:

[code]

[2014-12-08 10:43] headinthebox opened #84 "schedulePeriodically"
I think we can rename `schedulePeriodically` to `schedule` with no ambiguity.

[2014-12-08 11:13] headinthebox opened #85 "Auto unsubscribe bug"
The following should print `true` and `true` (does in Java for apply).

[code]

[2014-12-08 12:06] zsxwing commented on #85
RxScala didn't update `Subscription` accordingly when RxJava added `isUnsubscribed`. Fixed it in #86.

[2014-12-08 12:39] samuelgruetter commented on #80
Oops, looks like I misunderstood the question, and then you misunderstood my answer.

I understood the question as "Can we use `Observable.error` _as if_ it was defined without a type parameter and returning `Observable[Nothing]`"? And the answer to this question is yes.

But I would keep the additional type parameter in the current signature, because it has the advantage that we can give the desi

[2014-12-08 12:43] samuelgruetter commented on #81
Oh I see, so I'm glad that you didn't try to sell us the removal of the nuclear reactor's "shut down" button as "bike shedding" ;-)

[2014-12-08 14:18] #85 closed, assigned to zsxwing

[2014-12-08 14:38] zsxwing commented on #80
I think `empty`, `never` and `error` have the same problem: should we use `Observable[Nothing]`?

I tend to `yes` and prefer to make these methods consistent because:
- It's much like `Nil`. `Nil` also has similar problem. E.g.,

[code]
- My examples in #83 are contrived. I don't think people will write such codes. When they use `empty`, `never` or `error`, they usually have some other Observable

[2014-12-08 14:54] zsxwing commented on #81
@headinthebox I checked these two methods. Now they are:

[code]

So do you mean changing `func` to `f`?

[2014-12-08 14:57] samuelgruetter commented on #80
I agree that we should make `empty`, `never` and `error` consistant. But I'd prefer adding type params to all of them because:

1) Scala's `List.empty` does so as well:

[code]

2) There's no program which stops working if we add type parameters, but some stop working if we remove them.

3) This is a chance to help users when Scala's type inference is not smart enough.

[2014-12-08 15:23] zsxwing commented on #80
Great points. I'm convinced.

[2014-12-08 16:02] samuelgruetter commented on #84
I don't quite like this change. I prefer `schedulePeriodically` because
1.    when reading it, it's immediately clear what it does, which might not be the case with just `schedule`
2.    whenever possible, we should use the same names as RxJava

just my 2c

[2014-12-08 16:06] zsxwing commented on #76
Removed TODO.md in #89

[2014-12-08 16:06] #76 closed, assigned to nobody

[2014-12-08 16:16] zsxwing commented on #84
If renaming `def schedulePeriodically(initialDelay: Duration, period: Duration)(action: => Unit): Subscription` to `def schedule(initialDelay: Duration, period: Duration)(action: => Unit): Subscription`,  these two methods will have the same name:

[code]

People may think both of them will schedule periodically without reading docs carefully. So I prefer to use different names for them.

[2014-12-08 17:40] headinthebox commented on #80
Disagree. I absolutely hate to see any types. It is super irritating to be forced to specify the type in error. We should leverage covariance.

As long as we are not at 1.0 we _should_ break people as we iterate towards a stable API.

**I'll veto the change to add type parameters.**

[2014-12-08 17:41] headinthebox commented on #81
Whatever the scala ways is, which is `f` I believe.

[2014-12-08 18:46] #84 closed, assigned to nobody

[2014-12-08 19:37] headinthebox opened #90 "Observable.items"
What happened with `Observable.items(...)` ?

[2014-12-08 20:02] samuelgruetter commented on #90
It was renamed to `Observable.just(...)`: https://github.com/ReactiveX/RxJava/issues/1563#issuecomment-52251139

[2014-12-08 20:55] headinthebox commented on #90
My memory was obviously failing me in the stress of getting the MOOC code to compile.

[2014-12-08 20:55] #90 closed, assigned to nobody

[2014-12-10 02:31] zsxwing commented on #77
Scala `ExecutionContextImpl` uses `Java Executor`: https://github.com/scala/scala/blob/2.11.x/src/library/scala/concurrent/impl/ExecutionContextImpl.scala#L27 but we cannot get it via any public API, that's why I created a `Java Executor` wrapper for `Scala ExecutionContext`.

Because Scala doesn't have something like `Java ScheduledExecutorService`, we can ignore `ScheduledExecutorService`. There

[2014-12-10 05:47] zsxwing commented on #81
Fixed in #92

[2014-12-10 05:47] #81 closed, assigned to zsxwing

[2014-12-11 03:56] zsxwing commented on #80
@headinthebox

Scala used `List[Nothing]` before. But @odersky changed it to `List[A]` in

https://github.com/scala/scala/commit/14a631a5fec42d04d0723355a0b93e482b5e4662#diff-65c966843f6b3b817df43968f326d160L580

`override val empty: List[Nothing] = Nil` => `override def empty[A]: List[A] = Nil`

[2014-12-11 07:18] headinthebox commented on #80
i'll check with Martin.

[2014-12-13 23:17] cocodrino opened #96 "Noob question: troubles converting callback to Observable for vertx"
Hello, I'm trying convert the vertx's event bus callbacks to observables using AsyncSubject, in my dummy test my code works but when I try it inside vertx it compiles fine but the subscribe method never is called, maybe I'm doing a stupid thing but I'm pretty stuck with it and I cant found the mistake

basically I've this code
[code]

this works fine!!..I've tested it with several callbacks and wo

[2014-12-15 02:39] zsxwing commented on #96
Could you elaborate this method?

[code]
- Looks you want to use the return value as an `Observable`, but why you call it `cllbToObserver`?
- Does `f` call `subj.onNext` immediately? If not, you may call `AsyncSubject` like:

[code]

Then, onNext will be skipped. From this method `eb.send(address, message, f: Message[IT] => Unit)`, I think it will call `f` asynchronously.

[2014-12-15 16:29] cocodrino commented on #96
thanks for the reply @zsxwing

"Looks you want to use the return value as an Observable, but why you call it cllbToObserver?"
Yes my mistake, must be cllbToObservable instead

[code]

what would be v? could you provide me an example?...thanks!!!...

[2014-12-16 02:09] zsxwing commented on #96
`v` could be anything. Here is an example that `cllbToObservable` doesn't work:

[code]

I guess `eb.send(address, message, f: Message[IT] => Unit)` will call `f` in other thread just like this example.

[2014-12-16 18:55] cocodrino commented on #96
mm..ok..I understand your point

'will call f in other thread just like this example"

I think than is worse, every vertx verticle is single thread running inside an event loop, ideally I'd not create other thread inside a verticle... http://vertx.io/manual.html#concurrency ...

  sorry if I'm bothering you with my noob questions, but please let me know if you've any clue of how solve it, but now

[2014-12-17 06:18] zsxwing commented on #96
One thing you may not notice: a `Subject` is also an `Observer`. So you should send events to it in sequence. If you want to send events to a `Subject` in different threads, you usually need to use `SerializedSubject`, such as, `val subject = SerializedSubject(AsyncSubject[T]())`. In addition, you also need to make sure you send events in the order as follow:

[code]

BTW, I noticed that RxScala h

[2014-12-19 12:05] jbripley opened #100 "Using RxJava @Beta/@Experimental features in RxScala"
What is the current thinking about using features/methods marked as @Beta or @Experimental in RxJava and exposing them in RxScala?

For example, I was thinking of doing a PR that would make AbstractOnSubscribe available in RxScala with a more Scala idiomatic API. Is that something that would be accepted or should we wait until the feature is marked non-beta/experimental before exposing them in RxS

[2014-12-19 20:24] headinthebox commented on #100
Why don't we add them as extension methods (perhaps using the same markers) so you can import them separately.

[2014-12-22 05:32] zsxwing commented on #100
I think we can document two tables for the API compatibility, one for stable APIs, the other for `@Beta/@Experimental` APIs. If someone uses any `@Beta/@Experimental` API, they need to use the exactly same version of RxJava.

[2014-12-22 05:46] zsxwing opened #104 "Release 0.23.1"
Can we release 0.23.1 now, or is there any TODO before releasing it? Here is the release note: #103.

/cc @headinthebox @samuelgruetter @benjchristensen

[2014-12-22 14:06] samuelgruetter commented on #104
I think we can

[2014-12-22 20:55] benjchristensen commented on #104
:+1:

[2014-12-23 02:40] zsxwing commented on #104
@headinthebox is there other non breaking change you want for the Coursera MOOC?

[2014-12-23 04:35] headinthebox commented on #104
Give me a few days (after Christmas) to port all the code to the latest version.

[2014-12-23 06:07] zsxwing commented on #104
I guess you are using 0.23.0. Do you need 0.23.1, especially the fix for `Subscription.isUnsubscribed`? If so, we can release it now and fix the further issues in 0.23.2.

[2015-01-05 02:49] zsxwing opened #109 "Spam Wiki pages"
I just deleted a bunch of spam pages. @benjchristensen @headinthebox could you disable the Wiki since we don't use it?

[2015-01-05 17:48] benjchristensen commented on #109
Done.

[2015-01-05 17:48] #109 closed

[2015-01-09 21:39] cocodrino commented on #96
yes..basically I did my code following these responses
https://social.msdn.microsoft.com/Forums/en-US/c537c051-36ab-40c7-a395-73850aaf2717/beginner-using-rx-with-method-that-is-passed-a-callback?forum=rx

with toSerialized would be possible write something like the fromCallback method from the RXJs and than works  with mutithreads??..thanks.

[2015-01-09 21:39] #96 closed

[2015-01-15 06:22] zsxwing commented on #104
@headinthebox any update?

[2015-01-15 22:40] benjchristensen commented on #104
@headinthebox may be slow to respond right now so you might need to move forward without confirmation from him.

[2015-01-15 22:48] headinthebox commented on #104
Yeah, go ahead.

[2015-01-16 02:03] zsxwing commented on #104
OK. I will release 0.23.1 today.

[2015-01-16 02:30] zsxwing commented on #104
Done.

[2015-01-16 02:37] zsxwing commented on #104
My mistake... :( A typo in the commit message of https://github.com/ReactiveX/RxScala/commit/1da79a0ac386c5d3ddde7f9774f8006cef978b31
But users won't be affected.

[2015-01-16 02:53] zsxwing commented on #104
publishViaTravis.sh failed:

[code]

[2015-01-16 02:54] zsxwing commented on #104
https://travis-ci.org/ReactiveX/RxScala/builds/47198130

[2015-01-16 02:59] zsxwing commented on #104
cc @jmhofer

[2015-01-19 02:55] zsxwing commented on #104
@benjchristensen could you help delete https://bintray.com/reactivex/RxJava/RxScala/0.23.1/view/files/io/reactivex/rxscala_2.10/0.23.1 these files from Bintray so that I can make Travis CI republish it again?

[2015-01-19 15:33] benjchristensen commented on #104
I deleted it. It had the 2.10 but not 2.11 versions of files.

[2015-01-19 16:13] zsxwing commented on #104
@jmhofer I rebuilt it after @benjchristensen deleted the files. I checked Bintray and confirmed that there was no file in 0.23.1 before rebuilt it. But it still failed with the same error: https://travis-ci.org/ReactiveX/RxScala/builds/47198130

Have you encountered this issue before?

[2015-01-20 09:16] zsxwing commented on #104
I can publish RxScala using my personal account manually: https://bintray.com/zsxwing/rxscalatest/RxScala/view/files/io/reactivex

Still have no idea where is the problem :(

[2015-01-21 02:28] zsxwing commented on #104
@benjchristensen could you help release 0.23.1 and check it if the error will happen again?

[2015-01-21 04:05] benjchristensen commented on #104
It is still happening. I deleted from Bintray and re-ran the build.

I suggest either trying 0.23.2 or disabling Javadocs and see if those work?

[2015-01-21 06:42] zsxwing commented on #104
@benjchristensen try 0.23.2 and the error is still happening: https://travis-ci.org/ReactiveX/RxScala/builds/47743317

Since you have the key, could you publish it in your local machine manually, so that we can know if it's an issue of Travis CI, or Bintray?

[2015-01-22 02:14] zsxwing commented on #104
Finally, published 0.23.1 to Bintray successfully. It will be synchronized to Maven Central soon.

[2015-01-23 06:28] jhegedus42 opened #121 "ScalaDoc for Observable.subscribe() seems to be incorrect."
http://reactivex.io/rxscala/scaladoc/index.html#rx.lang.scala.Observable@subscribe():rx.lang.scala.Subscription

subscribe() takes no parameters, so the following documentation seems to be incorrect "Call this method to subscribe an rx.lang.scala.Observer for receiving items and notifications from the Observable."

[2015-01-23 07:49] zsxwing commented on #121
Thank you for reporting it.

[2015-01-24 03:19] zsxwing commented on #104
Close as RxScala 0.23.1 is available on Maven Central

[2015-01-24 03:19] #104 closed

[2015-01-26 01:43] #121 closed

[2015-01-26 09:01] zsxwing commented on #20
Close as the build script works well now.

[2015-01-26 09:01] #20 closed

[2015-01-27 02:24] zsxwing commented on #80
@headinthebox any update?

[2015-01-27 06:16] zsxwing commented on #63
Any suggestion for the name? @samuelgruetter @headinthebox @jbripley

[2015-01-27 12:45] samuelgruetter commented on #63
Maybe `foldMutable`?

[2015-01-28 12:20] zsxwing commented on #63
I think finally we should change `scan` and `foldLeft` to

[code]

Adding RxJava `collect` to RxScala won't fix the method signatures.

For `foldLeft`, we can support a by-name `initialValue` using RxJava `collect`. See https://github.com/zsxwing/RxScala/commit/b59fcd22ea07c57679215f5cbe61b537a8b79b71
But for `scan`, now I don't find out a way except reimplementing it in RxScala.

Should we keep t

[2015-01-28 12:49] samuelgruetter commented on #63
I don't agree on this, because `scan` and `foldLeft` are meant to be used with immutable data structures for the state, so it's no problem to reuse the same initial value several times. And if you really need a new one, you can either use the RxScala equivalent of RxJava's `collect` that we're going to add, or you can use `Observable.defer`.

[2015-02-19 09:31] reikje opened #138 "finallyDo not invoked"
Maybe I misunderstood how `finallyDo` is supposed to work but in my little test below, the method is never getting invoked. I am running this against:

    scalaVersion := "2.10.4"

    libraryDependencies ++= Seq(
      "io.reactivex" % "rxjava" % "1.0.6",
      "io.reactivex" %% "rxscala" % "0.23.1"
    )

Here is the test. The only thing printed is `onComplete called`.

    package me

    impo

[2015-02-19 10:52] reikje commented on #138
Nevermind, the `.finallyDo` syntax was wrong and I also didn't subscribe. Here is a proper method that works.

[code]

[2015-02-19 10:52] #138 closed

[2015-02-20 10:41] jjagged opened #145 "doOnCompleted() is not called when using take() on an observable created with just()"
It seems that using `take()` prevents `doOnCompleted()` and related `doOnTerminate()` and `finallyDo()` to be called, but only if the observable was created with `just()` or `from(Iterable)`.

[code]

yields the result

[code]

"completed 2" etc. is never printed. However, the corresponding code in Java works as I thought it would,

[code]

yields the expected result

[code]

Are my expectations o

[2015-02-21 16:28] samuelgruetter commented on #145
Let me first explain why I think that Scala's behavior is correct, and Java's is "less correct": Calling `single` on an observable requires to run it until completion, to check if there were really not more elements than one, and so, the `doOnCompleted`, `doOnTerminate` and `finallyDo` handlers are all executed. However, `take(1)` can unsubscribe from the source observable as soon as it has receiv

[2015-02-23 15:29] jjagged commented on #145
I see, thanks for the explanation. Perhaps it would be beneficial to document this behaviour of `take` (and `head` and `first` that use `take`)?

[2015-02-23 16:17] samuelgruetter commented on #145
Sure, pull requests to improve the docs are always welcome ;-) For the RxJava javadoc, RxScala scaladoc, or the [language-agnostic docs](http://reactivex.io/documentation/operators/take.html) (whose source is [here](https://github.com/ReactiveX/reactivex.github.io/blob/develop/documentation/operators/take.html))...

[2015-02-25 11:27] #145 closed

[2015-03-03 01:10] benjchristensen opened #147 "v0.24"
Is 0.24 ready to release? We need the new `takeUntil` overload.

cc @bpitman

[2015-03-03 02:22] zsxwing commented on #147
I added it in pr #146
We're looking for a best approach to add the experimental APIs.

[2015-03-04 01:08] benjchristensen commented on #147
No annotations or other such mechanisms for marking APIs in scala?

If not that, then just Scaladocs?

[2015-03-04 02:09] zsxwing commented on #147
The experimental APIs(methods) of RxJava Observable will be extension methods in RxScala, and needs to be imported explicitly. E.g.,

[code]

However, for the experimental classes, such as `AbstractOnSubscribe`, I would like to use @Beta/@Experimental annotations. What do you think?

[2015-03-04 02:11] zsxwing commented on #100
@headinthebox for the experimental methods of RxJava Observable, I added them as extension methods in RxScala #146. But for the experimental classes, such as `AbstractOnSubscribe`, I think we can also use RxJava `@Beta/@Experimental`. Thoughts?

[2015-03-04 03:01] benjchristensen commented on #147
I am a novice with Scala so my opinion isn't worth anything here. Whatever you and the others decide.

[2015-03-05 06:26] zsxwing commented on #147
Just wrote a release note for 0.24.0 #148

[2015-03-06 06:01] zsxwing commented on #147
@benjchristensen  I just released 0.24.0. However, Bintray cannot sync the files to Sonatype automatically. Could you help sync them?

I found an API of Bintray here: https://bintray.com/docs/api/#_sync_version_artifacts_to_maven_central
It requires the username and password of Sonatype.

[code]

The `bintray-sbt` plugin uses it to sync files. Could you put them into .travis.yml as secure environm

[2015-03-06 16:48] benjchristensen commented on #147
Bintray should do all of that automatically. It saves it. For example, on the Gradle builds we don't need those credentials.

[2015-03-06 16:52] benjchristensen commented on #147
Manually synced.

[2015-03-08 06:29] zsxwing commented on #79
Fixed in #82

[2015-03-08 06:29] #79 closed

[2015-03-08 17:06] zsxwing commented on #147
Thanks @benjchristensen

But I think Bintray doesn't do it automatically. `nebula-bintray-plugin` syncs the files. See https://github.com/nebula-plugins/nebula-bintray-plugin/blob/15af24355cc4816c25034b4cf234071fa4497346/src/main/groovy/nebula/plugin/bintray/NebulaBintraySyncPublishingPlugin.groovy It calls the API I mentioned previously.

There is a log in this plugin: `logger.info("Package Sync:

[2015-03-11 16:35] benjchristensen commented on #147
RxJava is published via Travis and no longer uses CloudBees. I noticed I have to manually sync bintray on that as well so we need to figure out what is missing.

@quidryan What is missing in our publishing process to trigger the Bintray->MavenCentral sync?

[2015-03-13 23:28] quidryan commented on #147
The sonatype credentials weren't being provided to Gradle in the shell script. @rspieldenner is working on adding them.

[2015-03-18 17:14] zsxwing commented on #147
@benjchristensen could you add `sonatypeUsername` and `sonatypePassword` for RxScala?

[2015-03-18 19:39] rspieldenner commented on #147
I'll do that today

On Wed, Mar 18, 2015 at 10:14 AM, Shixiong Zhu notifications@github.com
wrote:

[2015-03-19 10:00] zsxwing commented on #80
ping @headinthebox

[2015-03-19 12:09] zsxwing commented on #147
The names of the environment variables should be `SONA_USER` and `SONA_PASS`.

[2015-03-23 08:14] zsxwing commented on #147
Closing. I updated the publish script. Will test it when publishing the next release.

[2015-03-23 08:14] #147 closed

[2015-03-25 05:09] zsxwing commented on #77
Fixed in #91

[2015-03-25 05:09] #77 closed

[2015-04-01 10:56] sslavic opened #153 "Broken links to examples on site"
On http://reactivex.io/rxscala/ page, the first two links in sentence "Get started by looking at RxScalaDemo.scala, the RxScala examples, or the Scaladoc." are broken.

RxScalaDemo.scala link should probably use https://github.com/ReactiveX/RxScala/blob/0.x/examples/src/test/scala/rx/lang/scala/examples/RxScalaDemo.scala URL.

[2015-04-01 11:10] samuelgruetter commented on #153
Thanks for pointing it out! Would you mind making a pull request to the `develop` branch of the [repo of the website](https://github.com/ReactiveX/reactivex.github.io)?

[2015-04-01 11:27] sslavic commented on #153
Created https://github.com/ReactiveX/reactivex.github.io/pull/106

[2015-04-02 07:40] zsxwing opened #154 "Sync to maven central does not work"
looks the user account you set does not have permission. Could you take a look?
[code]
Log: https://travis-ci.org/ReactiveX/RxScala/builds/56530568

/cc @rspieldenner

[2015-04-10 07:48] zsxwing commented on #154
ping  @rspieldenner @quidryan @benjchristensen

[2015-04-10 16:58] rspieldenner commented on #154
Used the wrong account: current problem which 4 of the properties are ours?

[2015-04-10 17:21] rspieldenner commented on #154
see #155

[2015-04-10 23:52] zsxwing commented on #154
Now it works. Thanks a lot, @rspieldenner

[2015-04-10 23:52] #154 closed

[2015-04-14 08:57] samuelgruetter commented on #153
thanks :-)

[2015-04-14 08:57] #153 closed

[2015-04-24 20:23] bpitman opened #156 "reduce() fails if stream is empty"
### 2 items
scala> Observable.from(List[Int](0,1)).reduce(_ + _).toBlocking.toList
res39: List[Int] = List(1)

### 1 item
scala> Observable.from(List[Int](0)).reduce(_ + _).toBlocking.toList
res38: List[Int] = List(0)

### 0 items
scala> Observable.from(List[Int]()).reduce(_ + _).toBlocking.toList
java.util.NoSuchElementException: Sequence contains no elements
  at rx.internal.operators.OperatorSi

[2015-04-24 20:40] headinthebox commented on #156
Did you try reduce on a normal empty list? You cannot reduce an empty collection.

[2015-04-24 21:02] bpitman commented on #156
Oh - I think I understand.  Would it make sense to add an option to reduce() to specify a default value?

scala> rx.Observable.empty[Int]().reduce(0, func2((acc: Int, i: Int) => acc + i)).toBlocking.toIterable.toList
res9: List[Int] = List(0)

[2015-04-24 21:06] headinthebox commented on #156
Use foldLeft.

[2015-04-24 21:06] #156 closed

[2015-05-02 22:49] zsxwing commented on #80
@headinthebox this is still pending...

[2015-05-05 15:33] headinthebox commented on #80
I pinged Martin.

[2015-05-05 15:57] odersky commented on #80
Not sure what the question is?

On Tue, May 5, 2015 at 5:34 PM, headinthebox notifications@github.com
wrote:

##

Martin Odersky
EPFL and Typesafe

[2015-05-05 16:00] odersky commented on #80
read the mails in the wrong order - now I saw Erik's question.

List[Nothing] is preferable if everything is covariant. But in this
particular case, empty overrides/implements a method with a very general
collection type that does not assume
the collection is covariant. So we have to fall back to polymorphism here.
- Martin

On Tue, May 5, 2015 at 5:57 PM, martin odersky odersky@gmail.com wrote:

[2015-05-05 16:01] headinthebox commented on #80
Note Observable[T] is absolutely covariant (which is why I made it Observable[Nothing] to leverage that fact). The argument in favor of using polymorphism I heard is that you can if you want specify the element type.

[2015-05-05 16:03] odersky commented on #80
Is Observable covariant? If yes, Observable[Nothing] is preferable.
- Martin

On Tue, May 5, 2015 at 6:01 PM, headinthebox notifications@github.com
wrote:

##

Martin Odersky
EPFL and Typesafe

[2015-05-05 16:04] headinthebox commented on #80
OK, thanks ;-)

[2015-05-05 16:55] zsxwing commented on #80
@odersky the confusing thing here is that `immutable.List` is covariant too. But it uses [override def empty[A]: List[A] = Nil](https://github.com/scala/scala/blob/1d4a1f721d360c73b9f2468368c7e9b2b4c17fea/src/library/scala/collection/immutable/List.scala#L455)

[2015-05-05 17:04] zsxwing commented on #80
And the following codes can pass the compiler (2.10.4):

[code]

[2015-05-06 22:24] lukestephenson opened #158 "scaladoc for Observable.merge incorrect"
The scaladoc for the Observable.merge states:
`returns an Observable that emits items from this and that until this or that emits onError or onComplete.`

From what I've observed, it behaves like this for errors, but not completion.  The output of merge continues until the all merged Observables complete.

For example, the following code outputs '1 3', but according to the docs should output only

[2015-05-06 22:29] zsxwing commented on #158
Good catch. Could you take a look at how RxJava describes `mergeWith` here: https://github.com/ReactiveX/RxJava/blob/1.x/src/main/java/rx/Observable.java#L5150 and help fix it? Thank you.

[2015-05-08 08:36] benedictleejh opened #160 "Unable to use pattern matching anonymous function for subscribe method"
When attaching an anonymous function to a subscribe method, I am unable to use a pattern matching anonymous function directly to destructure tuples. For example, the following code

[code]

fails to compile with:
[code]

Instead, it must either be written as

[code]

or

[code]

I'm not sure if this is a limitation of Scala or of the way the API is written, but it would be nice to be able to resol

[2015-05-08 12:57] samuelgruetter commented on #160
The source of the problem is that `subscribe` is an overloaded method. Consider this:

[code]

It compiles without any problems. But as soon as we add an overload:

[code]

we get the same error as you got above. In my experience, Scala compiler folks view overloading as bad legacy inherited from Java, and there's not much motivation to improve `scalac`'s support for overloading.

So we would have

[2015-05-08 15:32] #158 closed

[2015-05-08 16:56] benedictleejh commented on #160
Yes, thanks so much for your help. It was nice to see that there are solutions availble so that I can still destructure tuples instead of resorting to an explicit match.

The comment that I should be doing most of the processing in the Observable chain was very enlightening, and has really helped me understand how to use Rx a bit better, and allowed me to handle my Observables in a cleaner way.

[2015-05-08 16:56] #160 closed

[2015-05-09 14:13] myhau opened #161 "Scala.js support"
Will there ever be scala.js support like in [monifu](https://github.com/monifu/monifu) ?

[2015-05-09 14:35] headinthebox commented on #161
I think the layering on top of RxJava makes that road impossible.

[2015-05-10 11:52] samuelgruetter commented on #161
An interesting thing, though, would be to copy the whole RxScala project into a new folder, and then replace all calls to RxJava by calls to [RxJS](https://github.com/Reactive-Extensions/RxJS), and to compile it with Scala.js. Then we could cross-build Scala code using Observables for the JVM and for JavaScript.

[2015-05-10 13:35] headinthebox commented on #161
That's definitively possible, but the API differences are nontrivial.

[2015-05-10 16:23] samuelgruetter commented on #161
So what are the biggest API differences between RxJava and RxJS? As far as backpressure is concerned, it looks like RxJS will move closer to what RxJava does (see [Roadmap for RxJS 2.4](https://github.com/Reactive-Extensions/RxJS/issues/335) and [Future work on backpressure](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/gettingstarted/backpressure.md#future-work)).

[2015-05-19 06:04] zsxwing opened #165 "Revisit ExperimentalObservable"
I just found one issue about the idea of `ExperimentalObservable`. If we want to move some mature method from `ExperimentalObservable` to `Observable`, we have to break the binary compatibility. Thoughts on how to solve it, or this is not a good idea and we should use RxJava's `@Beta/@Experimental`?

[2015-05-19 06:08] zsxwing commented on #165
Another disadvantage of `ExperimentalObservable` is that because `overload` and `implicit conversion` cannot work together, sometimes we need to rename the method to make the compiler happen. See #151

[2015-05-19 08:07] samuelgruetter commented on #165
Maybe we should just move everything from `ExperimentalObservable` into `Observable`. The only problem then is how to mark it, because AFAIK, method annotations are not shown in scaladoc. But we could just mark the experimental methods in the documentation, maybe with the same red badge as [here](http://www.scala-lang.org/api/2.11.6/scala-reflect/index.html#scala.reflect.macros.Universe), but put

[2015-05-19 10:38] jbripley commented on #165
I did some work to update to RxJava 1.0.10, which adds a bunch of @Experimental methods to Subject. I followed the example of ExperimentalObservable, which in this case meant adding ExperimentalSubject, ExperimentalAsyncSubject etc. which felt a bit unwieldy.

Start using @Experimental/@Beta in RxScala as well might be the better solution.

Also, I looked into adding RxScala support for the propos

[2015-05-19 17:26] zsxwing commented on #165
OK. Let's move everything to `Observable` and use `@Experimental/@Beta`.

[2015-05-23 17:18] zsxwing commented on #165
Looks some css style bug in the Scala doc. The EXPERIMENTAL labels in this page are really weird: http://www.scala-lang.org/api/2.11.6/scala-reflect/index.html#scala.reflect.api.package

[2015-05-23 17:51] samuelgruetter commented on #165
Seems to be a problem only if there's no scaladoc, as here:

![screenshot1](https://cloud.githubusercontent.com/assets/2394355/7785197/dfd155be-0184-11e5-9c66-4eb7946d59f7.png)

But if you add some doc comment, it looks fine:

![screenshot2](https://cloud.githubusercontent.com/assets/2394355/7785199/e9942e14-0184-11e5-9eba-beb311c47940.png)

[2015-05-25 08:06] #80 closed

[2015-05-29 16:44] hermanbanken opened #167 "Observers constructor for tests"
Looking at [examples/src/test/scala/rx/lang/scala/examples/TestSchedulerExample.scala](https://github.com/ReactiveX/RxScala/blob/0.24.0/examples/src/test/scala/rx/lang/scala/examples/TestSchedulerExample.scala#L38) I figured I could create my Observer like this:

[code]

But it seems that this is not the case as [this `apply` method](https://github.com/ReactiveX/RxScala/blob/0.x/src/main/scala/rx/

[2015-05-29 21:54] samuelgruetter commented on #167
The apply methods to go from Java to Scala are private because we want to be able to change them without breaking users' code. The conversion methods that you should use for this are in `JavaConversions`. So you can either write

[code]

or you can

[code]

and then the conversion is inserted automatically by the compiler.

Regarding mockito and inOrder, you can see what mockito version we use [he

[2015-05-29 23:06] headinthebox commented on #167
Can anyone can put their own code in rx.lang.scala, even when separately compiled?

[2015-05-29 23:34] zsxwing commented on #167
Yes. But it's a convention that the user should not access package private APIs like this. `package private` means it's not a public API and will be changed at any time.

[2015-05-29 23:49] headinthebox commented on #167
It was a retorical question; I actively ignore conventions ;-) The point I was really trying to make that if something is useful in an example, it is probably useful if it private or not. Which why I tend to make as few things private as possible (especially since it is often impossible to really prevent people from accessing it).

[2015-05-30 10:44] hermanbanken commented on #167
@headinthebox I already had this workaround in place:

[code]

[2015-05-30 17:55] leonidv commented on #26
up vote this issue. I think the best way is add Observable.range into rxScala, because this is standard Rx operator, and add into ScalaDoc of this operator information about another solutions from http://reactivex.io/rxscala/comparison.html

I spend about 30 minutes to found how to use range in rxScala.

[2015-05-30 18:07] hermanbanken commented on #167
@samuelgruetter, I made a pull request for this, see #168

[2015-05-30 18:21] samuelgruetter commented on #26
But at least now you know that there's a comparison table which can help you find the operator you need ;-)

Can you give us an idea how to make http://reactivex.io/rxscala/comparison.html more discoverable?

[2015-06-01 01:48] #167 closed

[2015-06-02 20:01] eggsby opened #169 "IllegalStateException in OperatorWindowWithTime$ExactSubscriber.nextWindow"
I'm still trying to track the root cause of this in my code but the stacktrace is:

[code]

Looks like the `.tumbling` operator is doing something it shouldn't be...

[2015-06-02 20:02] darkone23 commented on #169
Using `io.reactivex:rxscala_2.11:0.24.1`

[2015-06-03 02:48] zsxwing commented on #169
Could you post your code? How do you use `tumbling`? Because if the source Observable has some concurrent issue, it may cause this exception.

[2015-06-03 17:28] darkone23 commented on #169
Here is a rough snippet:

[code]

[2015-06-04 01:47] darkone23 commented on #169
Looking again in that stacktrace it looks like it is coming from rxjava:

[code]

My guess is that it happens while trying to roll a window during long GC pauses - I've only ever seen it happen under load.

I wonder if it is fixed with the latest version of rxjava as I am using the older version depended on by rxscala 0.24.1.

I will do more investigation and get back,
-- Thomas

[2015-06-04 13:20] zsxwing commented on #169
You can add RxJava to your dependencies and set the RxJava version by yourself.

I just reviewed the `window` operator in RxJava and could not find any problem. Is there any other operator in your codes before `tumbling`? I guess one of the upstream operators sends `onNext` and `onError` at the same time. If so, it may crash the `window` operator.

[2015-06-08 12:44] zsxwing commented on #165
Closed. It's resolved in 0.25.0.

[2015-06-08 12:44] #165 closed

[2015-06-08 12:44] zsxwing commented on #100
Closed. Resolved in 0.25.0

[2015-06-08 12:44] #100 closed

[2015-06-19 15:01] zsxwing commented on #169
@eggsby could you try 0.25.0 and see if the bug is gone?

[2015-06-20 02:30] darkone23 commented on #169
@zsxwing - Thank you for looking into this for me, I'm going to close this issue since it is doesn't appear to be a bug in rxscala and looks like it lies either in rxjava or my own code.

I'll upgrade to 0.25.0 and report back in case anyone runs into something similar.

Thanks again!
-- Thomas

[2015-06-20 02:30] #169 closed

[2015-07-09 15:36] asethia opened #173 "Caused by: java.lang.ClassNotFoundException: rx.functions.Func1"
Hi,

I am trying to run simple hello example

import rx.lang.scala._
import scala.concurrent.duration._
import scala.language.postfixOps

object HelloWorldObservable extends App{

   override def main(args: Array[String]) {
     val ticks:Observable[Long]=Observable.interval(1 seconds)
     val evens:Observable[Long]=ticks.filter(_%2==0)
     val bufs:Observable[Seq[Long]]=evens.slidingBuffer(coun

[2015-07-09 15:40] asethia commented on #173
Scala version  2.11.5

[2015-07-09 16:01] samuelgruetter commented on #173
What command did you use to run it? You probably miss the RxJava JAR on the classpath.

[2015-07-09 16:11] asethia commented on #173
yes I able to fix by adding rxjava-1.0.12.jar

thanks a lot.

[2015-07-09 16:12] #173 closed

[2015-09-08 11:19] flatmap13 opened #175 "doOnCompleted never executes"
Using RxScala 0.25.0, the following example never calls the lambda that is provided to `doOnCompleted`:

[code]

The same holds for this example:

[code]

Both examples only print `DONE 2`.

Either I'm overlooking something obvious, or this is a bug.

[2015-09-08 20:48] samuelgruetter commented on #175
You're overlooking something, but it's not obvious at all ;-)

The signature of `doOnCompleted` is:

[code]

That is, it takes a _by-name_ argument. So you have to use it as follows:

[code]

or, to convince yourself that the action passed to `doOnCompleted` is not already run when constructing the observable, you can write

[code]

which prints

[code]

What you were passing to `doOnCompleted` is

[2015-09-09 08:01] gkhom commented on #175
@samuelgruetter Thank you for the clarification, I completely overlooked the by-name parameter. It's quite confusing though since `subscribe` does take the onCompleted parameter as a 0-arity function but `doOnCompleted` does it with a by-name parameter. I think it's better to stay consistent and just use the same parameter type everywhere. If this is up for debate my preference would be `() => Uni

[2015-09-23 06:28] richardhundt opened #177 "toJavaObservable"
Hi, awesome project!

I've got a puzzler though. I'm expecting the following to work:

[code]

Whereas `JavaConversions.toJavaObservable(a)` does work. Not sure why the implicits aren't resolving. Any ideas?

[2015-09-23 08:13] zsxwing commented on #177
When you call `a.toJavaObservable`, the Scala compiler will try to find an implicit conversion that can convert `a` to an instance that has a method called `toJavaObservable`. Obviously, it cannot find.

The implicit `toJavaObservable` works when you put a `rx.lang.scala.Observable` to a place that requires `rx.Observable`. E.g.,

[code]

`ofType` is not a `rx.lang.scala.Observable` method. But th

[2015-09-25 11:56] richardhundt commented on #177
Ah right, not sure why I thought you had an implicit classes instead of implicit defs. Thanks!

[2015-09-25 11:56] #177 closed

[2015-11-10 10:11] freewind opened #179 "Doesn't work well with scala-swing?"
Described here, thanks:
http://stackoverflow.com/questions/33627505/reactivex-in-scala-swing-doesnt-work

[2015-11-10 17:49] zsxwing commented on #179
Looks this is not an RxScala issue.

[2015-11-11 07:30] freewind commented on #179
Just found it works well with `jdk1.7 & 1.8`, but failed with `jdk 1.6`

[2015-11-11 13:59] freewind commented on #179
Seems like I have to add the lib `"io.reactivex" % "rxswing" % "0.21.0"`, and

[code]

to make it work with `jdk 1.6`

[2015-11-11 17:54] zsxwing commented on #179
I know nothing about Scala Swing. But for Java Swing, you should touch the UI stuff only in the UI event queue because most of UI components are not thread safe. See https://docs.oracle.com/javase/tutorial/uiswing/concurrency/dispatch.html

[2015-11-12 01:55] freewind commented on #179
OK, and thanks, this can be a reminder for other guys who wants to use rxscala with scala-swing

[2015-11-12 01:55] #179 closed

[2015-11-15 03:55] freewind opened #180 "`delay` on `interval` will throw `NoSuchElementException`?"
Have posted it here:

http://stackoverflow.com/questions/33696615/delay-on-interval-will-throw-nosuchelementexception

[2015-11-16 06:01] zsxwing commented on #180
Thanks for reporting it. There is a RxJava bug in `zipWith(Iterable)`. I have sent a PR to fix it. For now, you can use `Observable.interval(Duration("100 millis")).zip(Observable.from(Seq(1, 2, 3))).map(_._2).delay(Duration("2 s"))` as a workaround.

[2015-11-16 18:32] #180 closed

[2015-11-20 10:26] freewind opened #181 "Why does `collect` make the observer received no notifications?"
Can't understand why, not sure if it's a bug:

http://stackoverflow.com/questions/33824288/why-does-collect-make-the-observer-received-no-notifications

[2015-12-24 00:57] zsxwing commented on #181
Please see my answer in stackoverflow. I'm going to close it.

[2015-12-24 00:57] #181 closed

[2016-01-27 06:21] zsxwing opened #186 "Experimental Class: Single/SingleSubscriber"
See:

https://github.com/ReactiveX/RxJava/blob/1.x/src/main/java/rx/Single.java
https://github.com/ReactiveX/RxJava/blob/1.x/src/main/java/rx/SingleSubscriber.java

[2016-01-27 06:21] zsxwing opened #187 "Experimental Class: Completable"
See:

https://github.com/ReactiveX/RxJava/blob/1.x/src/main/java/rx/Completable.java

[2016-02-03 13:07] samuelgruetter commented on #186
Looks interesting... What's the status of these in RxJava? Did they prove to be useful and will remain there?

[2016-02-03 13:13] samuelgruetter commented on #187
Can't we achieve almost the same with `Observable[Nothing]` and `ignoreElements()`? Or asked differently: Do you think the gain in conciseness is worth the increase in API surface?

[2016-02-04 05:55] zsxwing commented on #186
I think some Android developers like this one. Most of their cases only need this special Observable, e.g., request a request from network and render it in UI. In addition, see https://github.com/ReactiveX/RxJava/issues/1594#issuecomment-101300655 for the discussion in RxJava.

[2016-02-04 06:00] zsxwing commented on #187
Yeah, I'm not sure how helpful this one. Let's just keep it open and see if people are interested in it.

[2016-02-17 11:12] rvanheest opened #188 "Weird behavior with multiple threads in single-threaded application"
I noticed some weird behavior in the following RxScala code:

[code]

When I run this from Maven (see pom.xml below) using `mvn exec:java -Dexec.mainClass="foo.Main"` in a terminal, it results in the output below pom.xml.

Everything below `DONE` in the output is only printed after 15 seconds.

I am aware of the fact that RxScala is just a wrapper around RxJava, so I also tried the same thing with

[2016-02-17 11:47] akarnokd commented on #188
RxJava has some daemon threads that by themselves don't prevent the JVM from quitting, but also they don't stop either if regular threads are around, such as it seems that maven executor. Usually, if the RxJava code runs in a container-like host, it is expected the app cleans up completely, including the threads which can be achieved via `Schedulers.shutdown()`.

[2016-02-17 13:16] rvanheest commented on #188
First of all thanks for the quick response! Adding `Schedulers.shutdown()` at the end of `main` worked great! Now it does what we expect it to do.

On the other hand I find it a bit surprising that I as a user of the library have to do this myself, rather than the library cleaning up its own internal mess. The other weird thing is that this apparently is necessary in RxScala while running in a con

[2016-02-17 19:13] zsxwing commented on #188
`merge` uses `RxRingBuffer` which has an ObjectPool to cache objects. And  `ObjectPool` calls Schedulers.computation.

I think we may need to document this behavior somewhere. However, I don't think the issue itself is a big deal. If you don't need to use `Scheduler`, why use RxScala, especially you are using Scala :)

[2016-02-17 20:07] rvanheest commented on #188
This is just a minimal example I came up with to make asking the initial question easier (instead of showing pages upon pages of code :smile:).

What is not clear though is why the user of `merge` should clean up stuff that is only used in the implementation and not really exposed to the outside world. On the one hand side this is maybe the desired behavior, on the other hand I think that at least

[2016-02-17 20:11] zsxwing commented on #188
Did you try the latest RxJava? I can reproduce it using the latest RxJava.

[2016-02-17 20:16] akarnokd commented on #188
Because RxJava is a library, not a framework, it can't know when you are done with using it. But it gives you the option to clean up in case its lifecycle should be shorter than the enclosing app.

In theory, your example shouldn't have touched schedulers or the RxRingBuffer at all so there is no reason Rx threads started up. Maybe some implicit class initialization is happening in the RxScala wra

[2016-02-17 20:17] zsxwing commented on #188
I see. The one argument just has a different code path (RxScala's just doesn't call this one, it just calls `from(Iterable<? extends T> iterable)`). Use the following codes should reproduce it:

[code]

And my output is

[code]

[2016-02-17 20:26] akarnokd commented on #188
Yep, `RxRingBuffer`.

[2016-02-19 04:22] hyleung commented on #186
@samuelgruetter last I checked in RxJava, `rx.Single` is still `@Beta`. That being said, I think it has had a fair bit of traction - my team at work uses it in the code base (so hopefully it doesn't go away!). One thing that takes a bit getting used to is that `Single`s can only emit a value or error, there is no "empty".

[2016-02-28 22:08] zsxwing commented on #30
I'm going to close this one. I saw many Scala projects (e.g., scalatest, Kafka, Spark)  dropped support for 2.9. There is no special reason we should consider supporting 2.9.

[2016-02-28 22:08] #30 closed

[2016-02-28 22:12] fommil commented on #30
we also dropped 2.9 support in ENSIME since I moved job.

[2016-02-28 22:24] zsxwing commented on #30
Good to know that :)

[2016-03-22 16:26] LoranceChen opened #190 "Observable.map's body will execute for every observer's subscribe.Is that so?"
For example:
[code]
Output
[code]
The result shows the `map` body's action invoked before emit the event.To be honest, it was not a first aspect for map implement in functional design.
It seems map return a lazy value but evaluate every times.
Shouldn't printing `boo - ` and `foo - ` at the first time when construct `map1` and `map2`?After all, map help us construct a new Observable and we does no

[2016-03-24 08:55] sorgloomer commented on #190
This is by design, the constructing Observables this way will result in a "cold" observable (only doing work when there are subscribers, they setup on every subscriber). To make a hot observable you can either: 1: Create a `Subject` (which is an Observable as well), and feed values into it, 2: convert a cold observable into hot by `.publish()` and an immediate `.connect()`, or ensure at most one i

[2016-03-24 14:56] LoranceChen commented on #190
hi @sorglomer, I have tried `publish` and `.connect` combines.It is useful to express once operation. And I considered another way but seems odd.
construct a future to emit subscribe make its escape from multi print.

[code]

`read` construct a new observable form subscribe older one.It‘s completely independence.
But I am worried about it was stupid same as first glance.

[2016-03-24 16:21] sorgloomer commented on #190
If you definitely want to construct a new Observable explicitly, you could just use a Subject:

[code]

ps: sry for syntax errors, I don't know Scala well

[2016-03-25 06:07] LoranceChen commented on #190
@sorgloomer, I just know little about Subject.Can you give some advice by the simple scala example?
 With some struggle, I write a imaginary use case that is use Subject create a hot Observable like the map operator.
`val map1 = obvTest.map{o => boo; "foo - " + o}`
that changes `hi~` Observable to `foo - hi~` Observable
I attempt do it with

[code]

Output:

[code]

subject not emit event to his s

[2016-03-25 08:28] sorgloomer commented on #190
Use the `Observable.subscribe(x:Observer)` overload instead of the `Observable.subscribe(x:Consumer)`

[2016-03-25 11:59] LoranceChen commented on #190
Thanks a lot!

[2016-03-25 11:59] #190 closed

[2016-03-29 11:44] samuelgruetter commented on #175
The inconsitency between `subscribe` (which takes `() => Unit` for the `onCompleted`) and the `doOnXxx` methods (which take `=> Unit`) is indeed not so nice. And we just had another person being puzzled by this on [stackoverflow](http://stackoverflow.com/questions/36274683/why-doesnt-this-execute-the-function-given-for-rxscalas-doonsubscribe-function).

But on the other hand, `=> Unit` allows us t

[2016-03-29 12:02] gkhom commented on #175
The confusion comes from the situation that

[code]

actually compiles and runs, but never executes the given function. Is there a way to implicitly convert `() => {...}` into `=> {...}`? If not, is it possible to somehow raise a compiler warning if the 0-arity function is used?

[2016-03-29 13:14] samuelgruetter commented on #175
Yes, `() => {...}`, of type `() => Unit`, can be turned into `=> Unit` by "value discarding": When Unit is expected, Scala can discard the obtained value and return Unit instead. This feature is quite dangerous, and you can warn about it with `-Ywarn-value-discard`:

[code]

[2016-03-29 15:47] banshee commented on #175
I'm the guy who was puzzled from stackoverflow.

Part of the problem may be that there's really not a Scala idiom for function-taking-no-arguments-and-just-causes-side-effects.  I think that normally Scala just tries to discourage that.

But here's another option to think about.  The cost is another object allocation, and it might require another import to use doOnX, but it allows both kinds of ca

[2016-03-29 15:51] banshee commented on #175
And you could just add the import to the package, so everyone gets it automatically.  Since no one else would be using UnitOrFunction0ReturningUnit, I don't think it would have side effects for other code.  (OTOH, it's still early in the morning and I'm not convinced my coffee has kicked in yet...)

[2016-04-08 09:07] LukaJCB commented on #161
Wouldn't it be possible to convert the RxJava code to Scala code?

[2016-04-08 10:15] samuelgruetter commented on #161
Sounds a bit crazy, but maybe you could do so using a Java to Scala converter, such as http://javatoscala.com/ ...

[2016-04-08 11:25] LukaJCB commented on #161
I was thinking the same thing. Probably not going to work 100%, but might be better than converting everything to RxJS.

[2016-04-08 18:03] zsxwing commented on #161
I think most of Schedulers won't work since Scala.js/JavaScript doesn't support threads.

[2016-04-09 09:15] LukaJCB commented on #161
Ah yes, in that case, might be easier to just write a facade to RxJs

[2016-05-25 14:37] LukaJCB commented on #161
If anyone's interested, I've started a wraper some time ago: https://github.com/lukajcb/rxscala-js

[2016-05-25 16:03] samuelgruetter commented on #161
Interesting... Did you also write some sample RxScala apps which cross-compile to both JVM and JS?

[2016-05-25 17:20] zsxwing commented on #161
Cool 👍 It would be great to see some samples :)

[2016-05-25 17:23] LukaJCB commented on #161
Working on it as we speak, there's still tons of work to do, but I'm trying to keep it as close to the Scala Api as possible!

[2016-06-11 04:33] letientai299 opened #195 "Improve implicit convertion"
The following Scala code won't compile
[code]
While the same thing in Java works fine.
[code]

Also, in the following compilable version, we shouldn't have to explicit add `Int` as the type param;
[code]

**Edit**
Remove the redundant call to `Scheduers.newThread()` in the last snippet. That's related to another issues I reported to Jetbrains (you can find it [here](https://youtrack.jetbrains.com/

[2016-06-11 07:10] zsxwing commented on #195
Actually, the Java compiler doesn't infer the correct type. It just thinks that `s` is `java.lang.Object`. You can change your codes as follows:

[code]

and it cannot be compiled.

I'm not sure how the Scala compiler works. But maybe the Scala compiler behavior is better as it refuses to use a wrong type in such case.

[2016-06-11 11:31] letientai299 commented on #195
Thanks @zsxwing for pointing out that `i` (in your example) is just `java.lang.Object`. By, adding `<Integer>` into the method, the code can compile.

[code]

So `Int` is needed to make Scala compiler understand that `s` is `Observer[Int]`.

But `s => s.onNext(0)` is `Observer[Int] => Unit`, and therefor, the Scala code still cannot compile without `Subscriber()`.  That statement is nothing but ma

[2016-06-11 20:11] samuelgruetter commented on #195
The problem is that in order to translate a Java program doing `Observable.xxx` to Scala, you can't always just write `Observable.xxx` in Scala, because some methods have different names. So you should read the [comparison table](http://reactivex.io/rxscala/comparison.html), which contains the following line:

| Java method | Scala method |
| --- | --- |
| `create(OnSubscribe<T>)` | `apply(Subscri

[2016-06-17 04:01] zsxwing commented on #195
Closing this since Observable.create has been deprecated in #196

[2016-06-17 04:01] #195 closed

[2016-07-26 06:34] mcenkar opened #200 "MissingBackpressureException when using Publishers"
Hi,

seemingly similar code using org.reactivestreams.Publisher throws MissingBackpressureException while code using scala Observables doesn't. Example:

v0.26.2

[code]

Output:
[code]

Swapping:
[code]
with
[code]
seems to solve the problem

[2016-07-26 07:25] akarnokd commented on #200
What versions are you using?

[2016-07-26 07:43] mcenkar commented on #200
v0.26.2, RxJava v1.1.6

[2016-07-26 08:01] akarnokd commented on #200
This is the Java code reproducing the issue:

[code]

I'll investigate further.

[2016-07-26 08:45] akarnokd commented on #200
Thanks for your feedback. This is an issue with RxJavaReactiveStreams and has been fixed in 1.1.1; I just released it and may take some time to show up in maven.

[2016-07-26 08:55] mcenkar commented on #200
Awesome, thanks!

[2016-07-26 08:55] #200 closed

[2016-08-04 20:47] danielepolencic opened #201 "`sliding` doesn't close the window"
Hello, I'd expect `sliding` to open a new window when the first observable emits an object. I'd also expect that window to be closed when the closing observable emits an object.

[code]

produces the following output:

[code]

Instead I'd expect `(window: ,List(3, 4, 5, 6))` to appear just after `(close publishes,OY)`.

The same code works as expected in RxJS: https://jsfiddle.net/c7Lpj3a1/188/

*

[2016-08-06 16:35] danielepolencic commented on #201
It turns out I don't know how hot/cold observables & `sliding` work. Sorry.

[2016-08-06 16:35] #201 closed

[2016-08-16 07:57] imcharsi opened #202 "RxJava 1.1.9 : TestSubscriber.assertValuesAndClear"
Hi.

I think that it would be better if RxScala supports this [assertValuesAndClear](https://github.com/ReactiveX/RxJava/pull/4322) feature.

See [here](https://github.com/ReactiveX/RxJava/issues/4284).

Thanks for reading.

[2016-08-18 07:34] LukaJCB commented on #161
I'm finally at a point where I'm confident with showing it, be free to check it out! :)
https://github.com/lukajcb/rxscala-js
The API now mostly works just as the RxScala Api.

[2016-08-18 14:44] headinthebox commented on #161
Nice!

[2016-08-20 14:32] samuelgruetter commented on #161
Nice :smiley:
Are you already using it in a project of yours?

[2016-08-20 14:33] samuelgruetter commented on #202
Hi @imcharsi! Yes, this should definitely be added. This is an opensource project, would you have time to prepare a pull request for it?

[2016-08-20 17:33] LukaJCB commented on #161
Not yet, but once it's fully polished I'd like to build a minimal Web framework on top of it and virtual dom. 😃

[2016-08-21 04:26] imcharsi commented on #202
Hi.
I'll try it.
Thanks for reading.

[2016-08-23 11:22] LukaJCB commented on #161
I did a (very) quick port of Sergi Mansilla's Spaceship Reactive, which can be found here: https://github.com/LukaJCB/RxScalaJsSamples. And the working version can be found at https://lukajcb.github.io/RxScalaJsSamples/

[2016-09-01 20:05] samuelgruetter opened #205 "@deprecated annotation not in ScalaDoc"
(sorry in advance for nitpicking ;-) )

In the source of [Observable.scala](https://github.com/ReactiveX/RxScala/blob/0.x/src/main/scala/rx/lang/scala/Observable.scala#L4876), there's an `@deprecated` annotation for `def create[T](f: Observer[T] => Subscription): Observable[T]`.

However, in the [ScalaDoc](http://reactivex.io/rxscala/scaladoc/index.html#rx.lang.scala.Observable$), I can't see any

[2016-09-01 20:23] samuelgruetter opened #206 "Remove create[T](f: Observer[T] => Subscription)"
Let's remove

[code]

once the deprecation process/release schedule allows it.
Reason: It was removed in RxJava, and people get confused by its presence, eg:
- http://stackoverflow.com/questions/39212913/subscription-without-any-parameters
- https://github.com/ReactiveX/RxScala/issues/195

[2016-09-01 20:26] samuelgruetter commented on #206
Note: We already agreed to deprecate it in https://github.com/ReactiveX/RxScala/pull/196

[2016-09-01 22:03] zsxwing commented on #202
Added in #204

[2016-09-01 22:03] #202 closed

[2016-09-01 22:07] zsxwing commented on #205
It's just out of date. I will send a PR to update.

Maybe we should put the scaladoc to the `gh-pages` branch so that we can add scripts to update the docs when doing a release.

[2016-09-01 22:36] zsxwing commented on #206
👍 I saw no course for RxScala now: https://www.coursera.org/specializations/scala

[2016-09-03 14:38] samuelgruetter commented on #205
yes, a script which ensures that the docs are always those of the latest release would be great :+1:

[2016-09-26 11:55] rvanheest opened #209 "Conversions from Scala's Try and Option to Observable"
Would it make any sense to have conversion methods from `scala.util.Try` and `scala.Option` to `rx.lang.scala.Observable`? I mean, there is a conversion from `Iterable` to `Observable` in `rx.lang.scala.ObservableExtensions`, which I view as the Scala equivalent of RxJava's `Observable.from`.

Java does not really have type level notions of `Try` and `Option` (the latter only in Java 8), so it mak

[2016-09-26 17:54] zsxwing commented on #209
It's not necessary to add an Option overload. It's already supported. See

[code]

Try is missing. So PR is welcome!

[2016-09-26 18:06] rvanheest commented on #209
Agree kind of agree on the `Option`, although it seems that you can't do `Some(1).toObservable` with that. I think that is because the compiler has to do 2 implicit conversions for that: the `Iterable[T]` to `Option[T]` and the `toObservable` conversion. So that's why I suggested to do the `Option` part as well.

Regarding the `Try`, I have made a similar thing as the `ObservableExtensions` in the

[2016-09-28 08:11] rvanheest commented on #209
Closing, as this was solved in #210

[2016-09-28 08:11] #209 closed

[2016-10-05 22:04] zsxwing commented on #205
Closing this one since the doc has been updated.

[2016-10-05 22:04] #205 closed

[2016-11-08 07:18] lloydmeta opened #217 "Missing 0.26.4 artefacts for 2.11"
According to [this](http://search.maven.org/#search%7Cga%7C1%7C%22rxscala%22%20AND%20g%3A%22io.reactivex%22), 0.26.4 isn't up for 2.11.

[2016-11-09 22:17] zsxwing commented on #217
Thanks for reporting it. Looks like there was some error when syncing from bintray to maven central. I just pushed a commit to resync. Let's see if it will be fixed.

[2016-11-09 22:38] zsxwing commented on #217
Forgot to mention one thing: it's in https://oss.sonatype.org/content/repositories/releases/io/reactivex/rxscala_2.11/0.26.4/ now. So should be available on maven central.

I guess the issue is bintray maven sync doesn't support multiple requests running at the same time.

[2016-11-10 00:36] lloydmeta commented on #217
Thanks for fixing the problem ! It's available now so I'll close this issue.

[2016-11-10 00:36] #217 closed

[2016-11-21 10:23] kamilkloch opened #218 "Support for Scala 2.12.0"
Any plans regarding the release for Scala 2.12.0?

[2016-11-21 18:27] zsxwing commented on #218
@kamilkloch [0.26.4](https://github.com/ReactiveX/RxScala/releases/tag/0.26.4) supports Scala 2.12.0 :)

[2016-11-24 07:57] dhoepelman opened #219 "(A)SyncOnSubscribe"
Hi,

are there any plans on implementing RxJava 1.2's `AsyncOnSubscribe` and `SyncOnSubscribe`?
I could contribute an implementation, but am unsure about the preferred signature.

[code]

[code]

[code]

I'm leaning towards 3b, but see good arguments for 2 and all 3's.

[2016-11-24 17:17] samuelgruetter commented on #219
Hi, cool that you're willing to tackle (A)SyncOnSubscribe :smiley:

Approach 3a is nice, but instead of creating a new `ObserverValue[T]` class, we should use the already existing `Notification[T]`.

However, I'm not sure if it's a good idea to diverge so much from RxJava, because this API is already quite complex to understand, and it would be very beneficial if the documentation, blog posts etc

[2016-11-24 21:39] dhoepelman commented on #219
Thanks for the input!

I didn't know of `Notification[T]`, that makes more sense. I'll port the methods you mentioned and maybe create an extra one, since `State => (Notification[T], State)` feel more FP/Typesafe

[2016-11-24 22:37] samuelgruetter commented on #219
Right, these two approaches can coexist. Just make sure there are no method overloading ambiguities (like [this one](https://issues.scala-lang.org/browse/SI-2628), for instance).

[2016-12-10 15:30] dhoepelman commented on #219
Fixed with #220

[2016-12-10 15:30] #219 closed

[2016-12-12 06:12] zsxwing commented on #218
Closing this since RxScala does support Scala 2.12.0

[2016-12-12 06:12] #218 closed

[2017-01-12 02:24] samuelgruetter commented on #175
Just for the record: One more person got confused about this on [stackoverflow](http://stackoverflow.com/questions/41582735/rxscala-connectableobservable-doonsubscribe-is-never-called) (this time it's `doOnsubscribe`, which also takes a `=> Unit` argument).

[2017-01-15 19:23] thomasnield commented on #34
Considering RxJava 2.0 is now out, what is the status of doing a 1.0 release (much less a 2.0) for RxScala?

[2017-01-16 03:35] samuelgruetter commented on #16
I think this solution is too complicated to be adopted, and some customization of schedulers is already allowed by RxJava's [RxJavaSchedulersHook](https://github.com/ReactiveX/RxJava/blob/1.x/src/main/java/rx/plugins/RxJavaSchedulersHook.java), so I'm closing this.

[2017-01-16 03:35] #16 closed

[2017-01-16 03:35] #74 closed

[2017-01-16 03:38] samuelgruetter opened #225 "replace `=> Unit` by `() => Unit`"
I suggest that we replace all `=> Unit` arguments by `() => Unit`.
See https://github.com/ReactiveX/RxScala/issues/175 for more discussion/explanation.
This would affect the following methods (provided that I didn't miss any :wink:):
* doAfterTerminate
* doOnTerminate
* doOnCompleted
* doOnSubscribe
* doOnUnsubscribe
* onBackpressureBuffer

[2017-01-16 03:44] samuelgruetter commented on #34
RxScala has now been out for more than 3 years, with some continuous improvements, so imho we could make a 1.0 release soon.

Regarding the status of the open issues:

There are two topics where I hoped that there would be a good solution, but none was found, so I'm ready to "give up" on these now:

* Avoid having two overloads for all operators which have a default scheduler: Solutions based on i

[2017-01-16 04:29] thomasnield commented on #34
Sounds good. I ask because I'm about to release a "Reactive Python for Data Science" video and webcast series with OReilly Media. They've been receptive to ReactiveX being taught for data science, so I mentioned an idea to teach a counterpart for Scala. They reacted positively to that,  so I am going to start some R&D work to see what value RxScala has for data analysis and Spark... and possibly l

[2017-01-16 23:44] zsxwing commented on #225
Sounds good to me

[2017-01-29 13:19] sbarlabanov opened #227 "RxJava 2.0 support"
Hi,
Is there any plan for that?
I saw David had created a fork and started porting to RxJava 2.0.
Do you need any help? Is there any list of tasks to do?
I would like to help a little bit as far as I can ;).

[2017-02-17 08:55] dhoepelman commented on #227
I have privately done a tiny amount of exploration, but am not aware of any consolidated effort to provide a scala RxJava2 wrapper.

[2017-02-17 09:00] akarnokd commented on #227
I know very little about Scala but I managed to use RxJava 2 from it (Scala should be good at interoperation). The annoyances I've run into were the inability to use nice lambdas (in 2.11) and for many operators I had to specify the type parameters explicitly (`map[String](mapToString)`) otherwise weird inference errors pop up. What are the pain points for you people?

[2017-02-17 14:55] dhoepelman commented on #227
@akarnokd You can definitely make RxJava2 work directly but it requires additional boilerplate and isn't very scala idiomatic making it overal akward, a big minus especially considering there are some idiomatic alternatives (e.g. Akka Streams,Swave, Scalaz FS2/Stream)

Some pain points/arguments for a wrapper would include:

* A wrapper can provide some scala-idiomatic methods RxJava lacks, e.g. `

[2017-02-17 19:28] sbarlabanov commented on #227
...and also methods to create Observable from Scala Future, Try, Seq, etc.

[2017-03-04 11:52] yilinwei commented on #227
Hi, I've done quite a bit of work on this; but it's essentially a rewrite (adding proper co/contra variance, implicits for methods such as `flatten`, scala language features as well as a rename of many of the methods to the ones used in scala (`zipWith` to `map2`, etc...).

All of this is implemented as `AnyVal` decorators, so the overhead is essentially 0.

I'm unsure about the scope of this proj

[2017-03-05 21:47] samuelgruetter commented on #227
Nice :smiley:
Originally, we also used value classes ("extends AnyVal") for RxScala, but we moved away from them because you can't extend value classes, and `Subject` should extend `Observable`, see [this thread](https://github.com/ReactiveX/RxJava/pull/490).
I'd love to see solutions for this... :wink:
I think it's the simplest to have one repo for RxScala based on RxJava 1, and another repo for

[2017-03-05 22:47] yilinwei commented on #227
@samuelgruetter The best solution is to provide an implicit conversion within the `object` like I've done with the `Awaitable` (see the doctest which you can run by doing test).

I'm thinking of also adding compat in separate modules with `scalaz` and `cats` but having the case core compile with just the stdlib (2.10.6, 2.11.8 and 2.12.2) and adding law tests ala `discipline`.

The scope of the re

[2017-03-06 22:57] yilinwei commented on #227
This is going pretty well.

I've been toying around with boilerplate generation since it was getting cumbersome to convert manually for the higher arity functions, esp those which are curried, as well as using SAM conversions depending on the scala version (important for pre 2.12).

That's now done, so the conversions between all the function types are auto-generated as well as some nicer syntax t

[2017-03-07 02:50] samuelgruetter commented on #227
This could work, but consider this example: If I have an `AsyncSubject` and I want to pass it to a function expecting an `Observable`, two upcasts will be needed: from `AsyncSubject` to `Subject`, and from `Subject` to `Observable`, but the Scala compiler never chains two implicit conversions, so you'd have to define an additional implicit conversion going from `AsyncSubject` to `Observable`.
This

[2017-03-07 13:59] yilinwei commented on #227
@samuelgruetter

Thanks for the links. I've read through all of them and have got some ideas of how to solve them; I'll update the POC during the next few weeks while I play around with the syntax.

For the second point, at some point when working with Java/Scala shops, one of the requirements was that any scala code could be called from java; which basically meant that you couldn't use any scala

[2017-03-10 12:27] yilinwei commented on #227
@samuelgruetter @akarnokd

Is there any way to make a `flatMap` stacksafe variant so you can do recursive flatMaps for singles? i.e. `def recurse(i: Single[Int]): Single[Int] = i.flatMap(ii => recurse(ii + 1)`.

[2017-03-14 01:20] samuelgruetter commented on #227
Maybe you could use `Schedulers.trampoline()` for this?

[2017-03-14 01:56] yilinwei commented on #227
@samuelgruetter Not really sure how that would help - it doesn't seem to trampoline the function stack at all.

The stack overflow is coming from the fact that `subscribe` and `onSuccess` are essentially nested for the `flatMap` operation.

[code]

[2017-03-14 03:18] samuelgruetter commented on #227
I've never used the trampoline scheduler myself, but I vaguely remember from a coursera course that it can be used to avoid recursion stackoverflow, and [this link](http://stackoverflow.com/questions/40233956/how-to-use-schedulers-trampoline-inrxjava) says so too. Did you try something like they suggest there?

[2017-03-15 11:20] yilinwei commented on #227
@samuelgruetter I see what you mean; I'd used it as a scheduler because I had assumed it would do something similar under the hood.

I'll give it a go later this week.

[2017-03-18 05:50] mitermayer opened #228 "Support RxJava 2.X"
Was wondering if there is currently any work in progress around making this compatible with RxJava 2.X ?

[2017-03-20 13:15] dhoepelman commented on #228
Duplicate of https://github.com/ReactiveX/RxScala/issues/227

[2017-05-02 03:03] asgarddesigns commented on #227
Hi guys, just wondering if there is there any movement on this?

I am needing to make a decision on whether to move back to Java 1.x or wait until RxScala supports 2.x in a library, while I'm not in a super hurry, it'd be handy to know if we're looking at days/weeks/months before there's something mostly usable!

[2017-06-28 21:44] sbarlabanov commented on #227
Any progress on this? Is any help needed?

[2017-10-19 18:32] grant-guo opened #230 "Can't find Observable.compose(), any alternatives?"

[2017-10-19 19:39] samuelgruetter commented on #230
There's a [guide](http://reactivex.io/rxscala/comparison.html) which should answer all questions of this kind.
`compose` was intentionally left out because it is considered non-Scala-idiomatic.
As the guide suggests, I'd use extension methods.

[2017-10-20 13:06] grant-guo commented on #230
@samuelgruetter Thanks!
you mean I have to use implicit class to wrap a rxjava Observable inside?

[2017-10-20 15:33] samuelgruetter commented on #230
Yes, but I'd wrap the RxScala Observable inside the implicit class, not the RxJava Observable.

[2018-02-06 07:32] dhoepelman commented on #230
I personally find `compose` much clearer, as a workaround, it's not difficult to add compose yourself as an extension method:

[code]

[2018-06-14 08:07] He-Pin commented on #227
@akarnokd I think it we could be make it a light wrapper around rxJava?

[2018-06-14 08:12] akarnokd commented on #227
@hepin1989 I don't know or use Scala, I have no idea how to do it.

[2018-06-14 08:15] He-Pin commented on #227
@akarnokd I know Scala and I do love RXJava too .
The reactor way maybe a nice reference.
https://github.com/reactor/reactor-scala-extensions

[2018-06-14 13:16] hudak commented on #227
This may be sacrilegious, but https://github.com/monix/monix is a pretty good Observable implementation written natively in Scala with support for Reactive Streams.

ReactiveX is a fantastic library and I love would chip in to update it, if I had the time...

[2018-06-14 13:31] He-Pin commented on #227
@hudak So do I ,but I am currently busy on translation the *Reactive Design Patterns* book :(.
Monix is nice to use too , but is not a `Flowable` :)

[2018-06-14 14:48] lambdas commented on #227
Hi guys!

While working with rxjava from scala, I've found that its api is pretty nice, but it doesn't mix well with scala - too much manual type signatures required. So I came up with a [thin wrapper](https://github.com/exante/rx-scala-wrapper/blob/dev/src/main/scala/eu/exante/rx/Observable.scala) just to get rid of annoying typing. That simple wrappers work surprisingly well for our project, whi

[2018-07-10 07:10] sinwe commented on #227
https://github.com/reactor/reactor-scala-extensions

I'm the author of that library. I can help on RxScala for RxJava2 if needed. I use rxscala for RxJava1, but I would love to use RxJava2 if possible.

[2018-07-22 22:40] Proximator opened #238 "toSingle and toCompletable"
Is there any plan to implement those two methods as in RxJava1?

[2018-07-24 21:42] Proximator commented on #227
I can also help, is there any repo for RxScala2?

[2018-08-27 19:01] zella commented on #227
I tired https://github.com/monix/monix and it's excellent replacement for rxscala. Most api are same. Only problem -  small community, and (according to my feelings) It may contain critical bugs

[2018-08-28 00:02] sinwe commented on #227
I tried it too and it seems to be working great. What kind of bug is that? Have you reported it?

[2018-11-26 06:03] kuldeepBorchate009 opened #240 "Exception in thread "main" java.lang.NoClassDefFoundError: io/opentracing/Tracer"
package com.Couchbase;

import com.couchbase.client.java.Bucket;
import com.couchbase.client.java.Cluster;
import com.couchbase.client.java.CouchbaseCluster;

public class CDBDemo {

	public static void main(String[] args) {
		// TODO Auto-generated method stub

	Cluster cluster=CouchbaseCluster.create("127.0.0.1");
		cluster.authenticate("", "");
		Bucket bucket=cluster.openBucket("");
	}

}
Exce

[2018-12-18 21:42] wihoho opened #241 "Can someone advise me the need of this library?"
Why RxScala is created since Scala almost `natively` supports features brought by this RxScala?

Just curious on the intention. Thanks.

[2019-04-25 12:48] spacetimedecor opened #242 ".debounce can't take durationSelector?"
Hello!

I've seen that RxJS's .debounce can take a durationSelector, which I believe makes the operator's timespan variable. This is what I'd like to achieve in RxScala/RxJava but it doesn't seem to be possible in these version's of .debounce.

I wonder if it is infact possible? If not, it there possibly a workaround?

Cheers

[2019-11-02 09:42] dhoepelman opened #244 "Project status"
Hello,

Interest in RxScala seems to have waned over time, in favor of other streaming frameworks in the Scala ecosystem. This is visible in multiple ways

 * Many RxJava 1.2+ features were never ported to RxScala, or [too late to be worth it](https://github.com/ReactiveX/RxScala/pull/239).
  * RxJava 1 is EOL, and an [RxJava 2 equivalent for RxScala never materialized](https://github.com/Reactive

[2019-11-04 00:07] samuelgruetter commented on #244
Sounds good to me @dhoepelman, thanks for taking care of this!
Looks like I only have write access, but not admin access to grant you write/releases access, but maybe @zsxwing or @akarnokd has?

[2019-11-04 06:27] akarnokd commented on #244
Unfortunately I don't have admin access either.

[2019-11-04 14:31] samuelgruetter commented on #244
Ok next try: @benjchristensen could you please grant write access for the RxScala repo to @dhoepelman?

[2019-11-11 18:54] benlesh commented on #244
Hey I'm an admin on ReactiveX, I'm going to give @akarnokd admin here, and I'll add @dhoepelman as having write permissions. Have a great day and thanks for taking care of this!

[2019-11-11 18:56] benlesh commented on #244
Okay, all is done! @dhoepelman, you should have an invite in your email.

[2019-11-11 18:56] #244 closed

[2019-11-11 20:01] dhoepelman commented on #244
Thanks @benlesh and @samuelgruetter!

[2019-12-29 14:56] #228 closed

[2019-12-29 15:16] dhoepelman commented on #26
Due to project EOL status, no new operators will be implemented.

[2019-12-29 15:16] #26 closed

[2019-12-29 15:17] dhoepelman commented on #34
Due to project EOL status, these changes will not be made.

[2019-12-29 15:17] #34 closed

[2019-12-29 15:17] dhoepelman commented on #35
Due to project EOL status, this improvement will not be made.

[2019-12-29 15:17] #35 closed

[2019-12-29 15:17] dhoepelman commented on #37
Due to project EOL status, this improvement will not be made.

[2019-12-29 15:17] #37 closed

[2019-12-29 15:18] dhoepelman commented on #40
Due to project EOL status, this improvement will not be made.

[2019-12-29 15:18] #40 closed

[2019-12-29 15:18] dhoepelman commented on #41
Due to project EOL status, this has become irrelevant.

[2019-12-29 15:18] #41 closed

[2019-12-29 15:18] dhoepelman commented on #62
Due to project EOL status, this improvement will not be made.

[2019-12-29 15:18] #62 closed

[2019-12-29 15:19] dhoepelman commented on #63
Due to project EOL status, this improvement will not be made.

[2019-12-29 15:19] #63 closed

[2019-12-29 15:20] #78 closed

[2019-12-29 15:20] dhoepelman commented on #161
Due to project EOL status, Scala.JS will not be supported

[2019-12-29 15:20] #161 closed

[2019-12-29 15:21] dhoepelman commented on #175
Due to project EOL status, this will not be changed

[2019-12-29 15:21] #175 closed

[2019-12-29 15:21] dhoepelman commented on #186
Due to project EOL status, `Single` will not be ported from RxJava

[2019-12-29 15:21] #186 closed

[2019-12-29 15:22] dhoepelman commented on #187
Due to project EOL status, `Completable` will not be ported from RxScala

[2019-12-29 15:22] #187 closed

[2019-12-29 15:22] #188 closed

[2019-12-29 15:22] dhoepelman commented on #206
Due to project EOL status, this will not be removed

[2019-12-29 15:22] #206 closed

[2019-12-29 15:23] dhoepelman commented on #225
Due to project EOL status, this change will not be made

[2019-12-29 15:23] #225 closed

[2019-12-29 15:24] dhoepelman commented on #227
Leaving this issue open in case anyone wants to work on a RxScala 3+

[2019-12-29 15:24] dhoepelman commented on #230
Due to project EOL status, no new operators will be added.

[2019-12-29 15:24] #230 closed

[2019-12-29 15:25] dhoepelman commented on #238
No, see #186 and #187

[2019-12-29 15:25] #238 closed

[2019-12-29 15:26] dhoepelman commented on #240
This seems unrelated to RxScala, it does nothing with opentracing

[2019-12-29 15:26] #240 closed

[2019-12-29 15:28] dhoepelman commented on #241
RxJava/RxScala was a precursor to [Reactive Streams](http://www.reactive-streams.org/), which has since become part of the JVM. Other libraries built upon these interfaces to provide similar streaming frameworks.

At the moment of writing, Scala or its standard library does not natively support this asynchronous non-blocking streaming.

[2019-12-29 15:28] #241 closed

[2019-12-29 15:28] dhoepelman commented on #242
Due to project EOL status, no changes to operators will be made

[2019-12-29 15:28] #242 closed

[2020-01-01 08:36] sinwe opened #248 "Support for RxJava3?"
This project doesn't have support for RxJava2. Now that RxJava3 is near release, is there plan to support it?